{{ form_start(form) }}
{{ form_errors(form) }}


{% if form.images is defined %}
    {{ form_row(form.website) }}
    {{ form_row(form.description) }}
    <div class="custom-file-input mb-2 logo-container">
        <h3 class="subtitle mb-3">{{ 'selectlogo.heading'|trans }}</h3>
        <div>
            <label for="{{ form.logoFile.vars["id"] }}">
                {% if form.vars["value"].logofilename != "" %}
                    <img src="/images/logo/{{ form.vars["value"].logofilename }}" alt="logo">
                {% endif %}
            </label>
            {{ form_widget(form.logoFile) }}
            {{ form_errors(form.logoFile) }}
        </div>
    </div>

    <h3 class="subtitle mt-3 mb-3">{{ 'addimage.heading'|trans }}</h3>
    <ul id="images-fields-list"
        data-prototype="<label for='{{ form.images.vars.prototype.vars["id"] }}_file'></label>{{ form_widget(form.images.vars.prototype)|e }}"
        data-widget-tags="{{ '<li class="col-6"></li>'|e }}" data-widget-counter="{{ form.images|length }}"
        class="row custom-file-input">
        {% for imageField in form.images %}

            <li class="col-6">
                {{ form_errors(imageField) }}
                <div>
                    <label for="{{ imageField.vars["id"] }}_file">
                        {% if imageField.vars["data"].filename is defined %}
                            <img src="{{ asset('images/profil/' ~ imageField.vars["data"].filename)| imagine_filter('preview') }}" alt="profil_image">
                        {% endif %}
                    </label>
                    {{ form_widget(imageField) }}
                    <i class="fas fa-times-circle remove-tag"></i>
                </div>
            </li>
        {% else %}
            <li class="col-6">
                {{ form_errors(form.images) }}
                <div>
                    <label for="compagny_images_0_file"></label>
                    <input type="file" class="hidden images-field" id="compagny_images_0_file"
                           name="compagny[images][0][file]" accept="image/jpeg,image/jpg,image/png,image/webp,image/tiff">
                    <i class="fas fa-times-circle remove-tag"></i>
                </div>
            </li>
        {% endfor %}
    </ul>
    <button type="button" class="add-another-collection mb-2" data-list-selector="#images-fields-list">{{ 'navigation.addimage'|trans }}
    </button>
{% endif %}

{% if form.plainPassword is defined %}
    {{ form_row(form.email) }}

    <div class="mb-3">
        {{ form_label(form.plainPassword.first) }}
        <div class="passwordGroup">
            {{ form_widget(form.plainPassword.first) }}
            <i class="fas fa-eye viewPassword" target="inputPassword1"></i>
            <i class="fas fa-eye-slash hidden hidePassword" clas="" target="inputPassword1"></i>
        </div>
        {{ form_help(form.plainPassword.first) }}
    </div>

   <div class="mb-3">
        {{ form_label(form.plainPassword.second) }}
        <div class="passwordGroup">
            {{ form_widget(form.plainPassword.second) }}
            <i class="fas fa-eye viewPassword" target="inputPassword2"></i>
            <i class="fas fa-eye-slash hidden hidePassword" target="inputPassword2"></i>
        </div>
        {{ form_help(form.plainPassword.second) }}
    </div>
{% endif %}

{{ form_rest(form) }}

{{ form_rest(form) }}

{% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
    craue_formflow_button_class_back: 'mt-3 mb-3',
    craue_formflow_button_class_reset: 'd-none',
    craue_formflow_button_label_finish: 'label.finish'|trans,
    craue_formflow_button_label_back: 'label.back'|trans,
    craue_formflow_button_label_next: 'label.next'|trans,
    craue_formflow_button_label_reset: 'label.reset'|trans,
} %}
{{ form_end(form) }}
