{% extends 'account.html.twig' %}

{% block title %}{{ 'title.search'|trans }} - PerfectMatch{% endblock %}

{% block content %}
    <div class="settings-wrapper row px-5 pb-5">
        {% if access %}
            <div class="main-title row mt-5">
                <h2>
                    {{ 'traineesearch.heading0.html'|trans|raw }}
                </h2>
            </div>
            {{ form_start(form) }}
            {% do form.startPeriod.setRendered() %}
            {% do form.endPeriod.setRendered() %}
            <div class="searchbar row mt-3">
                <div class="col-lg-3">
                    {{ form_widget(form.job) }}
                </div>

                <div class="col-lg-3">
                    {{ form_widget(form.zone) }}
                </div>
                <div class="col-lg-5 date-range">
                    <div>
                        <input placeholder="{{ 'label.startdate'|trans }}" {% if form.startPeriod.vars["value"] != "" %} value="{{ form.startPeriod.vars["value"]|date("Y/m/d") }}" {% endif %}
                               id="{{ form.startPeriod.vars["id"] }}" name="{{ form.startPeriod.vars["full_name"] }}"
                               class="form-control start-date" readonly="">
                    </div>
                    <div>
                        <input placeholder="{{ 'label.enddate'|trans }}" {% if form.endPeriod.vars["value"] != "" %} value="{{ form.endPeriod.vars["value"]|date("Y/m/d") }}" {% endif %}
                               id="{{ form.endPeriod.vars["id"] }}" name="{{ form.endPeriod.vars["full_name"] }}"
                               class="form-control end-date" readonly="">
                    </div>
                </div>
                <div class="col-lg-1">
                    {{ form_widget(form.submit) }}
                </div>
            </div>
            {{ form_end(form) }}
            <br>
            <br>
            <div class="sectionTrainee">
                <div class="main-title row mt-5 mb-5">
                    <h2>
                        {{ 'traineesearch.heading1.html'|trans|raw }}
                    </h2>
                </div>

                <div class="row gy-5">
                    {% for trainee in trainees %}
                        <div class="col-md-4">
                            <div class="work">
                                <div class="row workBody">
								<span class="title one-ellipsis">{{ trainee.lastname }}
									-
									{{ trainee.firstname }}</span>
                                    <span>
									{% if trainee.active %}
                                        <i class="fas fa-certificate mb-3"></i>
										{{ 'certified'|trans }}
									{% else %}
                                        <i class="fas fa-stopwatch mb-3"></i>
                                        {{ 'uncertified'|trans }}
                                    {% endif %}
								</span>
                                    <p class="two-ellipsis">
                                        {#                                        {{ trainee.job }} #}
                                    </p>
                                    <br>
                                    <br>
                                    <br>
                                    <p class="three-ellipsis">
                                        {{ trainee.description }}
                                    </p>
                                    <span class="traineeZone">
                                        <i aria-hidden="true" class="fas fa-map-marker-alt me-1"></i>
                                       <div>
                                            {% for zone in trainee.zone %}
                                                <span>{{ zone }}</span>
                                            {% endfor %}
                                       </div>
								    </span>
                                </div>


                                <div class="row workAction">
                                    <a href="{{ path('compagny_trainee_show', {id: trainee.id}) }}">{{ 'navigation.readmore'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="main-title row mt-5 text-center">
                <h2>
                    {{ 'errors.traineesearch.html'|trans|raw }}
                </h2>
            </div>
        {% endif %}
    </div>
{% endblock %}
