{% extends 'account.html.twig' %}

{% block title %}{{ 'title.trainee'|trans }} - PerfectMatch{% endblock %}

{% block content %}
    <div class="settings-wrapper row px-5 pb-5">
        <div class="main-title row mt-5 mb-3">
            <div class="col-6">
                <h2>
                    {{ 'traineeview.heading.html'|trans|raw }}
                </h2>

                {% for message in app.flashes('success') %}
                    <div class="calert-success mb-4">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            {% if not anonymisation %}
                <div class="col-6">
                    <a href="{{ path('account_messaging', {id: trainee.id}) }}" class="invert-button">{{ 'navigation.trainee.contactus'|trans }}</a>
                </div>
            {% else %}
                <div class="col-6">
                    <a href="{{ path('account_contact_request', {id: trainee.id}) }}" class="invert-button">{{ 'navigation.contactrequest'|trans }}</a>
                </div>
            {% endif %}
        </div>

        <div class="sectionTrainee">
            <div class="row">

                <div class="col-md-6">
                    <div class="trainee-info">
                        <span>{{ 'label.firstname'|trans }}</span>
                        <p>{{ trainee.firstname }}</p>
                    </div>
                    <div class="trainee-info">
                        <span>{{ 'label.lastname'|trans }}</span>
                        <p>{{ trainee.lastname }}</p>
                    </div>
                    {% if not anonymisation %}
                        <div class="trainee-info">
                            <span>{{ 'label.phone'|trans }}</span>
                            <p>{{ trainee.phone }}</p>
                        </div>
                        <div class="trainee-info mb-3">
                            <span>{{ 'label.website'|trans }}</span><br>
                            {% if trainee.website %}
                                <a href="{{ trainee.website }}" target="_blank">{{ trainee.website }}</a>
                            {% else %}
                                <p>{{ 'noimformationprovided'|trans }}</p>
                            {% endif %}
                        </div>
                        <div class="trainee-info mb-3">
                            <span>{{ 'label.video'|trans }}</span><br>
                            {% if trainee.link %}
                                <a href="{{ trainee.link }}" target="_blank">{{ trainee.link }}</a>
                            {% else %}
                                <p>{{ 'noimformationprovided'|trans }}</p>
                            {% endif %}
                        </div>
{#                        {% if trainee.cvfilename %}#}
{#                            <div class="trainee-info mb-3">#}
{#                                <br>#}
{#                                <a href="{{ path('compagny_trainee_download_cv', {filename: trainee.cvFilename}) }}"#}
{#                                   target="_blank" class="invert-button">{{ 'navigation.download'|trans }}</a>#}
{#                            </div>#}
{#                        {% endif %}#}
                        {% for document in trainee.documents %}
                            <div class="trainee-info mb-3">
                                <br>
                                <a href="{{ path('compagny_trainee_download_document', {filename: document.filename}) }}"
                                   target="_blank" class="invert-button">{{ 'navigation.download'|trans }} - {{ document.originalname }}</a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-6">

                    <div class="trainee-info">
                        <span>{{ 'label.other'|trans }}</span>
                        {% if trainee.other %}
                            <p>{{ trainee.other }}</p>
                        {% else %}
                            <p>{{ 'noimformationprovided'|trans }}</p>
                        {% endif %}
                    </div>
                    <div class="trainee-info">
                        <span>{{ 'label.objectif'|trans }}</span>
                        {% if trainee.objectif %}
                            <p>{{ trainee.objectif }}</p>
                        {% else %}
                            <p>{{ 'noimformationprovided'|trans }}</p>
                        {% endif %}
                    </div>
                    <div class="trainee-info">
                        <span>{{ 'label.description'|trans }}</span>
                        {% if trainee.description %}
                            <p>{{ trainee.description }}</p>
                        {% else %}
                            <p>{{ 'noimformationprovided'|trans }}</p>
                        {% endif %}
                    </div>

                    <div class="trainee-info">
                        <span>{{ 'label.area.geographicalarea'|trans }}</span>
                        <div class="mb-1"></div>
                        {% for z in trainee.zone %}
                            <p>{{ z }}</p>
                        {% endfor %}
                    </div>
                    <div class="trainee-info">
                        <span>{{ 'label.period'|trans }}</span>
                        {% for period in trainee.Period %}
                            <div class="row date-period">
                                <p class="col">{{ period.start|date('Y/m/d') }}</p>
                                <p class="col">{{ period.End|date('Y/m/d') }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
