.settings-list{
    display: flex;
    flex-direction: column;
}

.settings-item{
    margin: 1rem 0;
}

.settings-item-title{
    font-size: 1rem;
    color: var(--primary);
    font-weight: 700;
    text-transform: capitalize;
}

.settings-item-description{
    margin-top: .6rem;
    font-size: .8rem;
    color: var(--secondary-text);
}

.settings-item .form-check{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.settings-item .form-check input{
    transform: scale(1.5);
}

.settings-item .form-check input:checked{
    background-color: var(--primary);
    border-color: var(--primary);
}

.reporting-table .report-message{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    white-space: normal;
    -webkit-box-orient: vertical;
    padding-bottom: 0;
}
