<!-- Handle this form -->
{{ form_start(form) }}
{% if form.languages is defined %}
	{% do form.languages.setRendered() %}
{% endif %}

{% if form.Period is defined %}
	{% do form.Period.setRendered() %}
{% endif %}

{% macro fileMacro(file) %}
	<div class="d-flex align-items-center documents-widget mt-2">
		{{ form_widget(file) }}
		<i class="fas fa-ban remove-tag ms-2 text-danger pointer"></i>
		<br/>
		{{ form_errors(file) }}
	</div>
{% endmacro fileMacro %}

{% macro documentMacro(document) %}
	<li class="mb-1">
		{% if document.vars["value"].originalname is not null %}
			<div class="document-exist">
				{{ form_widget(document, {'attr': {'class': 'd-none'}}) }}
				<i class="fas fa-window-close remove-tag "></i>
				<p class="form-text m-0">{{ document.vars["value"].originalname }}</p>
			</div>
		{% endif %}
	</li>
{% endmacro documentMacro %}

{% import _self as formMacro %}

{% if form.avatarFile is defined %}
	{{ form_row(form.link) }}
	{#    <div class="row">#}
	{#        <div class="col-sm-8">#}
	{#            {{ form_row(form.cvFile) }}#}
	{#        </div>#}
	{#        <div class="col-sm-4 mb-3 d-flex align-items-end justify-content-center">#}
	{#            {% if(form.vars["value"].cvfilename) != "" %}#}
	{#                <a href="{{ path('account_trainee_download_cv') }}"#}
	{#                   target="_blank" class="invert-button">{{ 'navigation.download'|trans }}</a>#}
	{#            {% else %}#}
	{#                <a href="#"#}
	{#                   target="_blank" class="invert-button">{{ 'label.nodocuments'|trans }}</a>#}
	{#            {% endif %}#}

	{#        </div>#}
	{#    </div>#}
	{% do form.documents.setRendered() %}
		<ul id="documents-fields-list" class="p-0 m-0 mb-2 list" data-prototype="{{ formMacro.fileMacro(form.documents.vars.prototype)|e }}" data-widget-tags="{{ '<li></li>'|e }}" data-widget-counter="{{ form.documents|length }}"> <label class="form-label">{{ 'label.form.trainee.selectcv'|trans }}</label>
		{{ form_errors(form) }}

		{% for document in form.documents %}
			{{ formMacro.documentMacro(document) }}
		{% endfor %}
	</ul>

	<p class="form-text mb-1 help-text">{{ 'label.form.trainee.document.help'|trans }}</p>
	<button type="button" class="add-another-collection mb-2" data-list-selector="#documents-fields-list">{{ 'label.form.trainee.adddocument'|trans }}
	</button>

	<div class="custom-file-input mb-2 logo-container">
		<h3 class="subtitle mb-3">{{ 'selectlogo.heading'|trans }}</h3>
		<div>
			<label for="{{ form.avatarFile.vars["id"] }}">
				{% if form.vars["value"].avatarfilename != "" %}
					<img
					src="{{ avatar }}" alt="logo">
				{# <img src="/trainee/avatar/{{form.vars["value"].avatarfilename}}" alt="logo"> #}
				{% endif %}
			</label>
			{{ form_widget(form.avatarFile) }}
			{{ form_errors(form.avatarFile) }}
		</div>
	</div>
{% endif %}


{% if form.Period is defined %}
	<div class="d-flex">
		{{ form_label(form.Period) }}
		{{ form_errors(form.Period) }}
		<i class="fas fa-plus text-success" id="add-period"></i>
	</div>
	<p class="form-text mb-0 help-text">{{ 'help.required'|trans }}</p>
	<ul class="period-list mb-3" data-prototype='<div class="row mb-3 {{ form.Period.vars["prototype"].vars["id"] }} period-container"> <div class="col-sm-6"> <input id="{{ form.Period.vars["prototype"].children["start"].vars["id"] }}" name="{{ form.Period.vars["prototype"].children["start"].vars["full_name"] }}" class="form-control start-date" readonly="" placeholder="{{ 'label.form.period.start'|trans }}"> </div> <div class="col-sm-6 d-flex align-items-center"> <input id="{{ form.Period.vars["prototype"].children["End"].vars["id"] }}" name="{{ form.Period.vars["prototype"].children["End"].vars["full_name"] }}" class="form-control end-date" readonly="" placeholder="{{ 'label.form.period.end'|trans }}"> <i class="fas fa-ban remove-period"></i> </div> </div>' data-widget-tags="{{ '<li></li>'|e }}" data-widget-counter="{{ form.Period|length }}">
		{% for period in form.Period %}
			<li>
				<div class="row mb-3 {{ period.vars[" id"] }} period-container">
					<div class="col-sm-6">
						<input value="{{ period.children["start"].vars["value"]|date('Y/m/d') }}" id="{{ period.children["start"].vars["id"] }}" name="{{ period.children["start"].vars["full_name"] }}" class="form-control start-date" readonly="" placeholder="{{ 'label.form.period.start'|trans }}">
					</div>
					<div class="col-sm-6 d-flex align-items-center">
						<input value="{{ period.children["End"].vars["value"]|date('Y/m/d') }}" id="{{ period.children["End"].vars["id"] }}" name="{{ period.children["End"].vars["full_name"] }}" class="form-control end-date" readonly="" placeholder="{{ 'label.form.period.end'|trans }}">
						<i class="fas fa-ban remove-period"></i>
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>

{% endif %}

{% if form.plainPassword is defined %}
	{{ form_row(form.email) }}

	<div class="mb-3">
		{{ form_label(form.plainPassword.first) }}
		<div class="passwordGroup">
			{{ form_widget(form.plainPassword.first) }}
			<i class="fas fa-eye viewPassword" target="inputPassword1"></i>
			<i class="fas fa-eye-slash hidden hidePassword" clas="" target="inputPassword1"></i>
		</div>
		{{ form_help(form.plainPassword.first) }}
	</div>

	<div class="mb-3">
		{{ form_label(form.plainPassword.second) }}
		<div class="passwordGroup">
			{{ form_widget(form.plainPassword.second) }}
			<i class="fas fa-eye viewPassword" target="inputPassword2"></i>
			<i class="fas fa-eye-slash hidden hidePassword" target="inputPassword2"></i>
		</div>
		{{ form_help(form.plainPassword.second) }}
	</div>
{% endif %}

{{ form_rest(form) }}

{{ form_rest(form) }}
{% if form.languages is defined %}
	<div class="mb-3">
		{{ form_label(form.languages) }}
		{{ form_errors(form.languages) }}
		<select name="{{ form.languages.vars["full_name"] }}" id="{{ form.languages.vars["id"] }}" class="select2-single form-select select2-multiple" multiple tabindex="-1" aria-hidden="true">
			{% for lang in form.languages.vars.choices %}
				{% if loop.index0 == 0 %}
					<optgroup label="{{ lang.label|replace({' - A1': ""}) }}">
						<option {% if lang.value in form.languages.vars["value"] %} selected="selected" {% endif %} value="{{ lang.value }}">{{ lang.label }}</option>

				{% elseif loop.index0 % 6 == 0 %}
					</optgroup>
					<optgroup label="{{ lang.label|replace({' - A1': ""}) }}">
						<option {% if lang.value in form.languages.vars["value"] %} selected="selected" {% endif %} value="{{ lang.value }}">{{ lang.label }}</option>
					{% else %}
						<option {% if lang.value in form.languages.vars["value"] %} selected="selected" {% endif %} value="{{ lang.value }}">{{ lang.label }}</option>
					{% endif %}
				</optgroup>
			{% endfor %}
		</optgroup>
	</select>
</div>{% endif %}{% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
    craue_formflow_button_class_back: 'mt-3 mb-3',
    craue_formflow_button_class_reset: 'd-none',
    craue_formflow_button_label_finish: 'label.finish'|trans,
    craue_formflow_button_label_back: 'label.back'|trans,
    craue_formflow_button_label_next: 'label.next'|trans,
    craue_formflow_button_label_reset: 'label.reset'|trans,
} %}{{ form_end(form) }}
