{% extends 'account.html.twig' %}

{% block title %}{{ 'title.dashboard'|trans }} - PerfectMatch
{% endblock %}

{% block content %}


	{% if is_granted(constant('App\\Constants\\Permissions::ROLE_SCHOOL_NAME')) %}
		<div class="recentActivity">
			<div class="activity-block">
				<div>
					<h3>{{ 'dashboard.heading'|trans }}</h3>
				</div>

				<div class="row mx-0">
					<div class="col-md-3 col-sm-4 col bubble">
						<a href="#" class="w-50">
							<div class="icon-wrapper-bg opacity-9 bg-info">
								<i class="fas fa-user-graduate"></i>
							</div>
						</a>
						<div class="px-0 d-flex w-50 flex-column justify-content-between">
							<div class="d-flex align-items-center justify-content-between">
								<h3>{{ 'title.trainee'|trans }}</h3>
							</div>
							<p><a href="#">{{ data.trainee.inactive }}</a> / {{ data.trainee.active }}</p>
						</div>
					</div>

					<div class="col-md-3 col-sm-4 col bubble">
						<a href="{{ path('app_degree_index') }}" class="w-50">
							<div class="icon-wrapper-bg opacity-9 bg-info">
								<i class="fas fa-user-graduate"></i>
							</div>
						</a>
						<div class="px-0 d-flex w-50 flex-column justify-content-between">
							<div class="d-flex align-items-center justify-content-between">
								<h3>{{ 'title.degree'|trans }}</h3>
							</div>
							<p><a href="#">{{ data.degree.inactive }}</a> / {{ data.degree.active }}</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	{% endif %}

	{% if is_granted(constant('App\\Constants\\Permissions::ROLE_COMPAGNY_NAME')) and not is_granted(constant('App\\Constants\\Permissions::ROLE_ADMIN_NAME')) %}
		<div class="recentActivity">
			<div class="activity-block">
				<div>
					<h3>{{ 'dashboard.heading'|trans }}</h3>
				</div>

				<div class="row mx-0">
					<div class="col-md-3 col-sm-4 col bubble">
						<a href="{{ path('compagny_internship_index') }}" class="w-50">
							<div class="icon-wrapper-bg opacity-9 bg-info">
								<i class="fas fa-user-graduate"></i>
							</div>
						</a>
						<div class="px-0 d-flex w-50 flex-column justify-content-between">
							<div class="d-flex align-items-center justify-content-between">
								<h3>{{ 'title.internship'|trans }}</h3>
							</div>
							<p><a href="#">{{ data.internship.inactive }}</a> / {{ data.internship.active }}</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	{% endif %}
{% endblock %}
