{% extends 'account.html.twig' %}

{% block title %}{{ 'title.messaging'|trans }} - PerfectMatch
{% endblock %}

{% block content %}
    <h1>{{ 'messaging.heading'|trans }}</h1>
    <div class="settings-wrapper row">
        <div class="col-md-4 settings-nav">
            <div class="settings-nav-wrapper">
                <h2 class="settings-nav-title">{{ 'mymessage.heading'|trans }}</h2>
                <ul>
                    {% if creating %}
                        <li class="settings-nav-item active mb-3" id="mymessaging{{ target.id }}"
                            data-target="mymessaging{{ target.id }}">
                            <svg class="oh sd u_ pp mg mr-2"
                                 :class="settingsPanel === 'account' &amp;&amp; 'text-indigo-400'" viewbox="0 0 16 16">
                                <path d="M12.311 9.527c-1.161-.393-1.85-.825-2.143-1.175A3.991 3.991 0 0012 5V4c0-2.206-1.794-4-4-4S4 1.794 4 4v1c0 1.406.732 2.639 1.832 3.352-.292.35-.981.782-2.142 1.175A3.942 3.942 0 001 13.26V16h14v-2.74c0-1.69-1.081-3.19-2.689-3.733zM6 4c0-1.103.897-2 2-2s2 .897 2 2v1c0 1.103-.897 2-2 2s-2-.897-2-2V4zm7 10H3v-.74c0-.831.534-1.569 1.33-1.838 1.845-.624 3-1.436 3.452-2.422h.436c.452.986 1.607 1.798 3.453 2.422A1.943 1.943 0 0113 13.26V14z"></path>
                            </svg>
                            <a href="#mymessaging{{ target.id }}">
                                {% if target.firstname is defined %}
                                    {{ target.firstname }}
                                    {{ target.lastname }}
                                {% else %}
                                    {{ target.contactFirstname }}
                                    {{ target.contactLastName }}
                                {% endif %}
                            </a>
                        </li>
                    {% else %}
                        {% set render = false %}
                        {% for key, message in messaging %}
                            <li class="settings-nav-item mb-3 {% if not render %}active{% endif %}"
                                id="mymessaging{{ key }}" data-target="mymessaging{{ key }}">
                                <svg class="oh sd u_ pp mg mr-2"
                                     :class="settingsPanel === 'account' &amp;&amp; 'text-indigo-400'"
                                     viewbox="0 0 16 16">
                                    <path d="M12.311 9.527c-1.161-.393-1.85-.825-2.143-1.175A3.991 3.991 0 0012 5V4c0-2.206-1.794-4-4-4S4 1.794 4 4v1c0 1.406.732 2.639 1.832 3.352-.292.35-.981.782-2.142 1.175A3.942 3.942 0 001 13.26V16h14v-2.74c0-1.69-1.081-3.19-2.689-3.733zM6 4c0-1.103.897-2 2-2s2 .897 2 2v1c0 1.103-.897 2-2 2s-2-.897-2-2V4zm7 10H3v-.74c0-.831.534-1.569 1.33-1.838 1.845-.624 3-1.436 3.452-2.422h.436c.452.986 1.607 1.798 3.453 2.422A1.943 1.943 0 0113 13.26V14z"></path>
                                </svg>
                                <a href="#mymessaging{{ key }}">{{ message["name"] }}</a>
                                <span data-id="{{ key }}"
                                      data-name="{{ message["name"] }}"
                                      data-bs-toggle="modal" data-bs-target="#reportModal" class="warning"
                                      id="reportModalButton"
                                >
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
                                         :class="settingsPanel === 'account' &amp;&amp; 'text-indigo-400'"
                                    >
                                    <path id="reportModalPath"
                                          d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"/>
                                </svg>
                                </span>
                            </li>
                            {% set render = true %}
                        {% endfor %}

                    {% endif %}

                </ul>
            </div>
        </div>
        <div class="col-md-8 settings-body">
            {% if creating %}
                <div id="settings-mymessaging1" class="settings-dynamic crud-list messaging-body ">
                    <div class="messaging-content">
                        <div class="row sent">
                            <p class="message invert-button">{{ 'messaging.startconverstion.heading'|trans }}</p>
                        </div>
                    </div>
                    <div class="messaging-footer">
                        <div class="mt-3 mb-2">
                            <span>{{ 'messaging.response'|trans }}</span>
                        </div>
                        <div class="mb-3">
                            <form method="post">
                                <textarea name="message" id="" cols="30" rows="10"></textarea>
                                <input type="hidden" name="target" value="{{ target.id }}">
                                <button class="mt-3" type="submit">{{ 'navigation.send'|trans }}</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% else %}
                {% set render = false %}
                {% for key, message in messaging %}
                    <div id="settings-mymessaging{{ key }}"
                         class="settings-dynamic crud-list messaging-body {% if render %}hidden{% endif %}">
                        <div class="messaging-content">
                            {% for msg in message["messages"] %}
                                {% if msg["sent"] == true %}
                                    <div class="row sent">
                                        <p class="message invert-button">{{ msg["message"] }} <br><br>
                                            <small>{{ msg["date"]|date('Y/m/d H:m:s') }}</small></p>
                                    </div>
                                {% else %}
                                    <div class="row received">
                                        <p class="message invert-button">{{ msg["message"] }} <br><br>
                                            <small>{{ msg["date"]|date('Y/m/d H:m:s') }}</small></p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="messaging-footer">
                            <div class="mt-3 mb-2">
                                <span>{{ 'messaging.response'|trans }}</span>
                            </div>
                            <div class="mb-3">
                                <form action="{{ path('account_messaging') }}" method="post">
                                    <textarea name="message" id="" cols="30" rows="10"></textarea>
                                    <input type="hidden" name="target" value="{{ key }}">
                                    <button class="mt-3" type="submit">{{ 'navigation.send'|trans }}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% set render = true %}
                {% else %}
                    <div class="calert-success text-center">
                        {{ 'norecordsfound'|trans }}
                    </div>
                {% endfor %}

            {% endif %}


        </div>
    </div>
{% endblock %}

{% block modal %}
    <div class="modal fade" id="reportModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reportModalLabel" data-text="{{ 'report.heading'|trans }}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body crud-list">
                    <div class="report-modal-body">
                        <form action="{{ path('account_messaging_report', {id: -1}) }}" data-action="{{ path('account_messaging_report', {id: -1}) }}" method="post"
                              id="reportModalForm">
                            <textarea name="message" id="" cols="30" rows="10"></textarea>
                            <button class="mt-3" type="submit">{{ 'navigation.send'|trans }}</button>
                        </form>
                    </div>
                </div>
                <div class="modal-footer crud-list">
                    <button type="button" data-bs-dismiss="modal">{{ 'navigation.cancel'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
