{% extends 'account.html.twig' %}
{% use '@CraueFormFlow/FormFlow/stepList_blocks.html.twig' %}

{% block title %}{{ 'title.settings'|trans }} - PerfectMatch{% endblock %}

{% block content %}
    <h1>{{ 'accountsettings.heading'|trans }}</h1>
    <div class="settings-wrapper row">
        <div class="col-md-4 settings-nav">
            <div class="settings-nav-wrapper">
                <h2 class="settings-nav-title">{{ 'account.general.heading'|trans }}</h2>
                <ul>
                    {% for stepLabel in flow.getStepLabels() %}
                        <li class="form-step">
                            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
                                <!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) -->
                                <path d="M464 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V80c0-26.51-21.49-48-48-48zm-6 400H54a6 6 0 0 1-6-6V86a6 6 0 0 1 6-6h404a6 6 0 0 1 6 6v340a6 6 0 0 1-6 6zm-42-92v24c0 6.627-5.373 12-12 12H204c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h200c6.627 0 12 5.373 12 12zm0-96v24c0 6.627-5.373 12-12 12H204c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h200c6.627 0 12 5.373 12 12zm0-96v24c0 6.627-5.373 12-12 12H204c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h200c6.627 0 12 5.373 12 12zm-252 12c0 19.882-16.118 36-36 36s-36-16.118-36-36 16.118-36 36-36 36 16.118 36 36zm0 96c0 19.882-16.118 36-36 36s-36-16.118-36-36 16.118-36 36-36 36 16.118 36 36zm0 96c0 19.882-16.118 36-36 36s-36-16.118-36-36 16.118-36 36-36 36 16.118 36 36z"/>
                            </svg>
                            <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge(app.request.attributes.get('_route_params')) | craue_addDynamicStepNavigationParameters(flow, loop.index)) }}">{{- block('craue_flow_stepLabel') -}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-8 p-3 settings-body">
            <div id="settings-myaccount" class="settings-dynamic crud-list">
                {% include "account/_myaccount_form.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}
