{% extends 'credentials.html.twig' %}

{% block title %}PerfectMatch - {{ 'login.title'|trans }}{% endblock %}

{% set split = false %}

{% block form %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <h1>{{ 'login.heading'|trans }}</h1>

        <label for="inputEmail">{{ 'label.email'|trans }}</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3"
               autocomplete="email" required autofocus>
        <label for="inputPassword">{{ 'label.password'|trans }}</label>
        <div class="passwordGroup">
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password"
                required>
            <i class="fas fa-eye viewPassword" target="inputPassword"></i>
            <i class="fas fa-eye-slash hidden hidePassword" target="inputPassword"></i>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit" class="mt-3">
            {{ 'navigation.signin'|trans }}
        </button>
    </form>
{% endblock %}

{% block modal %}
    <!-- Modal -->
    <div class="modal fade custom-modal" id="selectRegistering" data-bs-backdrop="static" data-bs-keyboard="false"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                    Registering
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ 'accountselect.heading'|trans }}
                <br>
            </div>
            <div class="modal-footer">
                <a href="{{ path('register_trainee') }}">
                    <button type="button" class="cancel-button"
                            data-bs-dismiss="modal">{{ 'navigation.imtrainee'|trans }}</button>
                </a>
                <a href="{{ path('register_school') }}">
                    <button type="button" class="cancel-button"
                            data-bs-dismiss="modal">{{ 'navigation.imschool'|trans }}</button>
                </a>
                <a href="{{ path('register_compagny') }}">
                    <button type="button" class="cancel-button"
                            data-bs-dismiss="modal">{{ 'navigation.imcompagny'|trans }}</button>
                </a>

            </div>
        </div>
    </div>
    </div>{% endblock %}
