{% extends "utils/crud/_template.html.twig" %}

{% set EntityName = 'title.degree'|trans %}

{% block nav %}
    <ul>
        <li class="settings-nav-item active" data-target="mydegreelist">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
                <!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) -->
                <path d="M464 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V80c0-26.51-21.49-48-48-48zm-6 400H54a6 6 0 0 1-6-6V86a6 6 0 0 1 6-6h404a6 6 0 0 1 6 6v340a6 6 0 0 1-6 6zm-42-92v24c0 6.627-5.373 12-12 12H204c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h200c6.627 0 12 5.373 12 12zm0-96v24c0 6.627-5.373 12-12 12H204c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h200c6.627 0 12 5.373 12 12zm0-96v24c0 6.627-5.373 12-12 12H204c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h200c6.627 0 12 5.373 12 12zm-252 12c0 19.882-16.118 36-36 36s-36-16.118-36-36 16.118-36 36-36 36 16.118 36 36zm0 96c0 19.882-16.118 36-36 36s-36-16.118-36-36 16.118-36 36-36 36 16.118 36 36zm0 96c0 19.882-16.118 36-36 36s-36-16.118-36-36 16.118-36 36-36 36 16.118 36 36z"/>
            </svg>
            <a href="#">{{ 'navigation.list'|trans }}</a>
        </li>

    </ul>
{% endblock %}


{% block template_content %}
    <div id="settings-mydegreelist" class="settings-dynamic row crud-list">
        <div class="row crud-list-title">
            <div class="col-6 d-flex align-items-center">
                <h3>{{ 'title.degree'|trans }}</h3>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <a class="invert-button " href="{{ path('app_degree_new') }}"><i class="fas fa-plus">  </i>{{ 'navigation.add'|trans }}</a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Active</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for degree in degrees %}

                    <tr>
                        <td>{{ degree.name }}</td>
                        <td>{{ degree.description }}</td>
                        <td>
                            {% if degree.active %}
                                <i class="fas fa-check"></i>
                            {% else %}
                                <i class="fas fa-times"></i>
                            {% endif %}
                        </td>
                        <td>
                            <div class="dropdown">
                                <a class="fas fa-ellipsis-h" role="button" id="actionsDropDown"
                                   data-bs-toggle="dropdown" aria-expanded="false"></a>

                                <ul class="dropdown-menu" aria-labelledby="actionsDropDown">
                                    <li>
                                        <a class="dropdown-item" href="{{ path('app_degree_show', {'id': degree.id}) }}"
                                           href="#">Show</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item"
                                           href="{{ path('app_degree_edit', {'id': degree.id}) }}">Edit</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>
                            <h3>No records found</h3>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
