{% extends "utils/crud/_template.html.twig" %}

{% block nav %}
    {% include "degree/_crud_nav.html.twig" %}
{% endblock %}

{% set EntityName = 'title.degree'|trans %}

{% block template_content %}
    <div id="settings-mylist" class="settings-dynamic row crud-list pb-3">
        <div class="row crud-list-title mb-3">
            <h3>{{ degree.name }}</h3>
        </div>

        <div class="show-list">
            <div class="show-item">
                <span>Description</span>
                <p>{{ degree.description }}</p>
            </div>

            <div class="show-item">
                <span>Active</span>
                <p>
                    {% if degree.active %}
                        {{ 'true'|trans }}
                    {% else %}
                        {{ 'false'|trans }}
                    {% endif %}
                </p>
            </div>
        </div>

    </div>
{% endblock %}
