{% extends "main/layout.html.twig" %}

{% block title %}{{ 'title.contact'|trans }} - PerfectMatch{% endblock %}


{% block content %}
    <div class="contact-wrapper">
        <div class="main-title mt-5 ">
            <h2>
                {{ 'contact.heading.html'|trans|raw }}
            </h2>
        </div>

        <div>
            {% for message in app.flashes('success') %}
                <div class="calert-success mb-4">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('error') %}
                <div class="calert-success mb-4">
                    {{ message }}
                </div>
            {% endfor %}
        </div>

        <div class="contact-form mb-3">
            {{ form_start(form) }}
            {{ form_row(form.firstname) }}
            {{ form_row(form.lastname) }}
            {{ form_row(form.email) }}
            {{ form_row(form.phone) }}
            {{ form_row(form.message) }}
            {{ form_row(form.captcha) }}
            <div class="text-center">
                {{ form_row(form.submit) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
