{% extends 'main/layout.html.twig' %}

{% block content %}
    {% for message in app.flashes('success') %}
        <div class="position-fixed top-0 start-0 p-3" style="z-index: 11">
            <div id="survey-toast" class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        {{ message }}
                    </div>
                    <button id="survey-toast-close" type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                            aria-label="Close"></button>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="sectionFilter">

        <div class="row sectionFilterWrapper">
            <div class="col-lg-6 filterWrapper">
                <div class="icon">
                    <i class="fas fa-graduation-cap"></i>
                </div>
                <span>{{ 'trainee.looking.heading'|trans }}</span>
                <a href="{{ path('register_trainee') }}">{{ 'register.button'|trans }}</a>
            </div>

            <div class="col-lg-6 filterWrapper">
                <div class="icon">
                    <i class="fas fa-building"></i>
                </div>
                <span>{{ 'company.training.heading'|trans }}</span>
                <a href="{{ path('register_compagny') }}">{{ 'register.button'|trans }}</a>
            </div>

            <div class="col-lg-6 filterWrapper">
                <div class="icon">
                    <i class="fas fa-school"></i>
                </div>
                <span>{{ 'school.partner.heading'|trans }}</span>
                <a href="{{ path('register_school') }}">{{ 'register.button'|trans }}</a>
            </div>
        </div>

    </div>

    <div class="row sectionText mx-3">

        <div class="col-lg-6">
            <h2>
                {{ 'main.heading.html'|trans|raw }}
            </h2>
            <p>
                {{ 'main.paragraph0.html'|trans|raw }}
            </p>
        </div>
        <div class="col-lg-6">
        </div>
    </div>

    {% if app.user %}
        <div class="sectionJobs">
            <div class="main-title row mt-5 mb-5">
                <h2>
                    {{ 'job.heading.html'|trans|raw }}
                </h2>
                {% for message in app.flashes('success') %}
                    <div class="calert-success mb-4">
                        {{ message }}
                    </div>
                {% endfor %}
                <a href="#">{{ 'job.button'|trans }}</a>
            </div>

            <div class="row carousel">
                <div class="featured-carousel owl-carousel">

                    {% for internship in internships %}
                        <div class="item">
                            <div class="work">

                                <div class="row workTitle">
                                    <span class="col-10">{{ internship.title }}</span>
                                </div>

                                <div class="row workList">
                                    <ul>

                                        <li>
                                            <i aria-hidden="true" class="far fa-clock"></i>
                                            <a href="#">{{ internship.workingTime }}</a>
                                        </li>
                                        {% if not Anonymisation %}
                                            <li>
                                                <i aria-hidden="true" class="far fa-building"></i>
                                                <a href="#">{{ internship.compagny.name }}</a>
                                            </li>
                                            <li>
                                                <i aria-hidden="true" class="fas fa-map-marker-alt"></i>
                                                <a href="#">{{ internship.location }}</a>
                                            </li>
                                        {% endif %}

                                    </ul>
                                </div>

                                <div class="row workBody">
                                    <span>{{ internship.title }}</span>
                                    <p>
                                        {{ internship.description }}
                                    </p>
                                </div>

                                {% if is_granted(constant('App\\Constants\\Permissions::ROLE_TRAINEE_NAME')) %}
                                    {% if Anonymisation %}
                                        <div class="row workAction">
                                            <a href="{{ path('account_contact_request', {id: internship.compagny.id, idi: internship.id}) }}">{{ 'navigation.contactrequest'|trans }}</a>
                                        </div>
                                    {% else %}
                                        <div class="row workAction">
                                            <a href="{{ path('account_messaging', {id: internship.compagny.id}) }}">{{ 'navigation.contactus'|trans }}</a>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    {% endif %}

    {% if not Anonymisation %}
        <div class="sectionCompagny">
            <div class="main-title row mt-5 mb-5">
                <h2>
                    {{ 'main.compagny.heading.html'|trans|raw }}
                </h2>
                <a href="#">{{ 'main.compagny.button'|trans }}</a>
            </div>

            <div class="row carousel">
                <div class="featured-carousel owl-carousel">
                    {% for compagny in compagnies %}
                        <div class="item">
                            <div class="work">

                                <div class="workTitle">
                                    <i class="far fa-heart"></i>
                                </div>

                                <div class="row workBody">
                                    <span class="title">{{ compagny.name }}</span>
                                    <span>
									<i aria-hidden="true" class="fas fa-map-marker-alt"></i>
									{{ compagny.address }}
								</span>

                                    <div class="workAction"><a
                                                href="{{ path('app_search_compagny', {id: compagny.id}) }}">{{ 'navigation.readmore'|trans }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    {% endif %}
    <div class="sectionContact mb-5">
        <div class="main-title row mt-5">
            <h2>
                {{ 'main.contact.heading.html'|trans|raw }}
            </h2>
        </div>

        <div class="row body">
            <div class="col-lg-3">
                <p>{{ 'CALL'|trans }}</p>

                <div>
                    <a href="">
                        <i aria-hidden="true" class="fas fa-phone me-1"></i>
                        {{ data.contactPhone|phone_number_format('INTERNATIONAL') }}
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <p>{{ 'EMAIL'|trans }}</p>
                <div>
                    <a href="">
                        <i aria-hidden="true" class="fas fa-envelope me-1"></i>
                        {{ data.contactMail }}
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <p>{{ 'SOCIAL'|trans }}</p>
                <ul>
                    <li class="me-2">
                        <a href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="me-2">
                        <a href="">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="me-2">
                        <a href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal %}
    <div class="modal fade custom-modal" id="deleteCompagnyInternship" data-bs-backdrop="static"
         data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">
                        Contact request
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    You are about to send a contact request for this course!
                </div>
                <div class="modal-footer">
                    <button type="button" class="cancel-button" data-bs-dismiss="modal">No !</button>
                    <button type="button" data-target="deleteCompagnyInternshipForm" class="danger-button deleter">
                        Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
