{% extends "main/layout.html.twig" %}

{% block title %}{{ 'title.internshipsearch'|trans }} - PerfectMatch{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {% do form.startPeriod.setRendered() %}
    {% do form.endPeriod.setRendered() %}
    <div class="searchbar row mt-3 mx-5 align-items-center justify-content-center">
        <div class="col-sm-3 mb-2">
            {{ form_widget(form.title) }}
        </div>

        <div class="row col-sm-5 date-range pe-0">
            <div class="col-sm-6 mb-2 pe-0">
                <input placeholder="{{ 'label.startdate'|trans }}" {% if form.startPeriod.vars["value"] != "" %} value="{{ form.startPeriod.vars["value"]|date("Y/m/d") }}" {% endif %}
                       id="{{ form.startPeriod.vars["id"] }}" name="{{ form.startPeriod.vars["full_name"] }}"
                       class="form-control start-date" readonly="">
            </div>
            <div class="col-sm-6 mb-2 d-flex align-items-center pe-0">
                <input placeholder="{{ 'label.enddate'|trans }}" {% if form.endPeriod.vars["value"] != "" %} value="{{ form.endPeriod.vars["value"]|date("Y/m/d") }}" {% endif %}
                       id="{{ form.endPeriod.vars["id"] }}" name="{{ form.endPeriod.vars["full_name"] }}"
                       class="form-control end-date" readonly="">
            </div>
        </div>
        <div class="col-sm-1 ps-4 text-center">
            {{ form_widget(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}
    <br>
    <br>
    <div class="sectionJobs pb-5">
        <div class="main-title row mt-5 mb-5">
            <h2>
                {{ 'job.heading.html'|trans|raw }}
            </h2>

            {% for message in app.flashes('success') %}
                <div class="calert-success mb-4">
                    {{ message }}
                </div>
            {% endfor %}
        </div>

        <div class="row gy-5">
            {% if app.user %}
                {% for internship in internships %}
                    <div class="col-md-4">
                        <div class="work">

                            <div class="row workTitle d-flex flex-nowrap justify-content-between">
                                <span class="col-10 one-ellipsis">{{ internship.title }}</span>
                                {% if internship.filename is defined and not null and internship.filename|length > 0 %}
                                    <a href="{{ path('compagny_internhsip_download_document', {filename: internship.filename}) }}"><i
                                                class="fas fa-download"></i></a>
                                {% endif %}
                            </div>

                            <div class="row workList">
                                <ul>
                                    <li>
                                        <i aria-hidden="true" class="far fa-clock"></i>
                                        <a>{{ internship.workingTime }}</a>
                                    </li>
                                    {% if not Anonymisation %}
                                        <li>
                                            <i aria-hidden="true" class="fas fa-map-marker-alt"></i>
                                            <a>{{ internship.location }}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>

                            <div class="row workBody">
                                <span>{{ internship.title }}</span>
                                <p>
                                    {{ internship.description }}
                                </p>
                            </div>

                            {% if is_granted(constant('App\\Constants\\Permissions::ROLE_TRAINEE_NAME')) %}
                                {% if  Anonymisation %}
                                    <div class="row workAction">
                                        <a href="{{ path('account_contact_request', {id: internship.compagny.id}) }}">{{ 'navigation.contactrequest'|trans }}</a>
                                    </div>
                                {% else %}
                                    <div class="row workAction">
                                        <a href="{{ path('account_messaging', {id: internship.compagny.id}) }}">{{ 'navigation.contactus'|trans }}</a>
                                    </div>
                                {% endif %}
                            {% endif %}

                        </div>
                    </div>
                {% else %}
                    <div class="main-title row mt-5 mb-4 text-center">
                        <h2 class="mt-5">
                            {{ 'noneinternshipoffers.heading.html'|trans|raw }}
                        </h2>
                    </div>
                {% endfor %}
            {% else %}
                <div class="main-title row mt-5 mb-4 text-center">
                    <h2 class="mt-5">
                        {{ 'mustconnected.heading.html'|trans|raw }}
                    </h2>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
