{% extends 'base.html.twig' %}

{% block title %}
	{{ 'title.home'|trans }}
	- PerfectMatch
{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('main') }}
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('main') }}
{% endblock %}

{% block body %}
	<div class="main-wrapper container-fluid">
		<div class="row main-nav-container">
			<div class="col-4">
				<div class="dropdown text-start ps-5">
					<a class="btn dropdown-toggle" href="#" role="button" id="dropdownFlag" data-bs-toggle="dropdown" aria-expanded="false">
						<img src="{{ asset('images/'~app.request.locale~'.svg') }}" alt="french_flag">
					</a>

					<ul class="dropdown-menu dropdown-flag" aria-labelledby="dropdownFlag">
						{% for key, locale in locales  %}
							{% if locale != app.request.locale %}
								<li class="mt-1 mb-1">
									<a class="dropdown-item" href="{{ path('app_home_locale', {'locale': locale}) }}">
										<img src="{{ asset('images/'~locale~'.svg') }}" alt="french_flag">
										{{ locale|language_name }}</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="personal-nav col-8">
				<ul>
					{% if app.user.email is defined %}
						<li>
							<a href="{{ path('account') }}">{{ 'navigation.personal'|trans }}</a>
						</li>
						<li>
							<a href="{{ path('app_logout') }}">{{ 'navigation.logout'|trans }}</a>
							{% if app.user %}
								{% if is_granted(constant('App\\Constants\\Permissions::ROLE_COMPAGNY_NAME')) %}
									(
									{{ app.user.name }}
									)
								{% elseif  is_granted(constant('App\\Constants\\Permissions::ROLE_SCHOOL_NAME')) %}
									(
									{{ app.user.name }}
									)
								{% elseif  is_granted(constant('App\\Constants\\Permissions::ROLE_TRAINEE_NAME')) %}
									(
									{{ app.user.lastname }}
									{{ app.user.firstname }}
									)
								{% endif %}
							{% endif %}
						</li>
					{% else %}
						<li>
							<a href="{{ path('app_login') }}">{{ 'navigation.login'|trans }}</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>

		<div class="logo mt-3">
			<a href="{{ path('app_home') }}" class="pe-5">
				<img src="{{ asset('images/pf.png') }}" alt="Logo img" class="logo-img img-fluid"/>
			</a>
			<a class="ps-5">
				<img src="{{ asset('images/eu.png') }}" alt="Logo img" class="logo-img img-fluid"/>
			</a>
		</div>
		{% include "utils/nav/nav.html.twig" %}

		<div class="content-wrapper">
			{% block content %}{% endblock %}
		</div>

		{{ render_hinclude(controller('App\\Controller\\UtilsController::footer', {})) }}

	</div>
{% endblock %}
