{% extends "main/layout.html.twig" %}

{% block title %}{{ 'title.term'|trans }} - PerfectMatch{% endblock %}


{% block content %}
    <div class="main-title mt-5 mb-5">
        <h2>
            <span>{{ 'notice.heading'|trans }}</span>
        </h2>
    </div>

    <div class="notice-wrapper">
        <div class="notice-paragraph">
            <span class="notice-title">1. CONTACT DETAILS</span>
            <p class="notice-body">Tempor occaecat sint quis <strong>aliquip</strong> reprehenderit irure voluptate
                laboris. Ullamco ea dolor cillum non cillum mollit sunt Lorem. Tempor velit minim elit eiusmod voluptate
                eu. Reprehenderit amet sit deserunt eiusmod duis velit cupidatat id aliquip fugiat qui dolore. Nostrud
                in eiusmod ullamco exercitation dolor. Ut labore Lorem irure incididunt ea non velit incididunt enim
                officia reprehenderit aliquip nisi proident.</p>
        </div>
    </div>
{% endblock %}
