{% extends 'base.html.twig' %}

{% block title %}
	{{ 'title.referer'|trans }}
	- PerfectMatch
{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('main') }}
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('main') }}
{% endblock %}

{% block body %}
	<div class="referer-wrapper container-fluid">

		<div class="row logo mb-5">
			<div class="col">
				<img src="{{ asset('images/pf.png') }}" alt="Logo img" class="logo-img img-fluid"/>
			</div>
		</div>

		<div class="row">
			<div class="col-auto">
				<h2>
					<span>PerfectMatch</span>
					{{ 'referer.heading'|trans }}
				</h2>

				<br>
				<div class="subtitle">
					{% if flow.getCurrentStepNumber() == 1 %}
						<h3>
							{{ 'referer.subtitle.html'|trans|raw }}
						</h3>
					{% endif %}
				</div>
				<br>

				{{ form_start(form) }}
				{{ form_errors(form) }}

				{% if form.password is defined %}
					{{ form_row(form.email) }}

					<div class="mb-3">
						{{ form_label(form.password.first) }}
						<div class="passwordGroup">
							{{ form_widget(form.password.first) }}
							<i class="fas fa-eye viewPassword" target="inputPassword1"></i>
							<i class="fas fa-eye-slash hidden hidePassword" clas="" target="inputPassword1"></i>
						</div>
						{{ form_help(form.password.first) }}
					</div>

					<div class="mb-3">
						{{ form_label(form.password.second) }}
						<div class="passwordGroup">
							{{ form_widget(form.password.second) }}
							<i class="fas fa-eye viewPassword" target="inputPassword2"></i>
							<i class="fas fa-eye-slash hidden hidePassword" target="inputPassword2"></i>
						</div>
						{{ form_help(form.password.second) }}
					</div>
				{% endif %}

				{{ form_rest(form) }}

				{{ form_rest(form) }}

				{% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
                    craue_formflow_button_class_back: 'mt-3 mb-3',
                    craue_formflow_button_class_reset: 'd-none',
                    craue_formflow_button_label_finish: 'label.finish'|trans,
                    craue_formflow_button_label_back: 'label.back'|trans,
                    craue_formflow_button_label_next: 'label.next'|trans,
                    craue_formflow_button_label_reset: 'label.reset'|trans,
                } %}
				{{ form_end(form) }}
			</div>
		</div>

		<div class="row"></div>
	</div>
{% endblock %}
