{% extends "main/layout.html.twig" %}

{% block title %}{{ 'title.internshipsearch'|trans }} - PerfectMatch{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="searchbar row mt-3 mx-5">
        <div class="col-sm-3 offset-sm-2">
            {{ form_widget(form.name, {'attr': {'class': 'h-100'}}) }}
        </div>

        <div class="row col-sm-3 date-range pe-0">
            {{ form_widget(form.type) }}
        </div>

        <div class="col-sm-1 ps-4 text-center">
            {{ form_widget(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}
    <br>
    <br>
    <div class="sectionJobs pb-5 search">

        <div class="row gy-5">

            {% if schools %}
                <div class="main-title row mt-5">
                    <h2>
                        {{ 'search.school.html'|trans|raw }}
                    </h2>
                </div>
            {% endif %}

            {% for school in schools %}
                <div class="col-md-4 hover-scale">
                    <div class="work">
                        <div class="row workBody">
                            <span class="title one-ellipsis">{{ school.name }}</span>
                            <span>
								<i aria-hidden="true" class="fas fa-map-marker-alt"></i>
								{{ school.address }}, {{ school.city }} ({{ school.postalcode }}) | {{ school.country }}
							</span>
                        </div>


                        <div class="row workAction">
                            <a href="{{ path('app_search_school', {id: school.id}) }}">{{ 'navigation.readmore'|trans }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
