{% extends "main/layout.html.twig" %}

{% block title %}{{ 'title.internshipsearch'|trans }} - PerfectMatch{% endblock %}

{% block content %}
    <div class="search-container">
        <div class="main-title row mt-5 mb-5">
            {% if data.logoFilename != "" %}
                <img src="{{ asset('images/logo/' ~ data.logoFilename)| imagine_filter('thumb') }}" alt="logo" class="search-logo">
            {% endif %}
            <h2>{{ data.globalName }}</h2>
        </div>

        {% if images %}
            <div class="featured-carousel owl-carousel px-5 mb-5">
                {% for img in images %}
                    <div class="item">
                        <img src="{{ asset('images/profil/' ~ img.filename)| imagine_filter('thumb') }}" alt="profil_image">
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="main-title row mt-5 mb-5">
            <h2 class="mb-3"><span>{{ 'label.description'|trans }}</span></h2>

            <div>
                <p class="w-75 mx-auto">{{ data.description }}</p>
            </div>
        </div>

        <div class="main-title row mt-5 mb-5">
            <h2 class="mb-3"><span>{{ 'search.informations'|trans }}</span></h2>
        </div>

        <div class="sectionContact mb-5">
            <div class="row body pt-3 pb-3">
                <div class="col-lg-3 px-0">
                    <p>{{ 'CALL'|trans }}</p>

                    <div>
                        <a href="">
                            <i aria-hidden="true" class="fas fa-phone me-1"></i>
                            {{ data.contactPhone|phone_number_format('INTERNATIONAL') }}
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 px-0">
                    <p>{{ 'EMAIL'|trans }}</p>
                    <div>
                        <a href="">
                            <i aria-hidden="true" class="fas fa-envelope me-1"></i>
                            {{ data.contactMail}}

                        </a>
                    </div>
                </div>
                <div class="col-lg-4 px-0">
                    <p>{{ 'label.website'|trans }}</p>
                    <div>
                        <a href="{{ data.website }}">
                            <i aria-hidden="true" class="fas fa-envelope me-1"></i>
                            {{ data.website}}
                        </a>
                    </div>
                </div>

                <div class="col-12 contact-text mt-3">
                    <p>{{ data.address }}, {{ data.city }} ({{ data.postalcode }}) | {{ data.country }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
