{% extends "main/layout.html.twig" %}

{% block title %}{{ 'title.survey'|trans }} - PerfectMatch{% endblock %}

{% block content %}
<div class="main-title mt-5 mb-5">
    <h2>
        <span>{{ 'survey.heading'|trans }}</span>
    </h2>
</div>
<div class="survey-wrapper row" data-current-step='1' data-max-length="{{ form.children|length -1 }}"
     id="survey-container">
    {{ form_start(form, {'attr': {'id': form.vars["id"]}}) }}
    <div id="survey-data-container" class="col-12">
        <div data-step='1' class="survey-data-step">
            <div class="col-12 survey-question mt-5">
                <h2>{{ 'survey.paragraph0.html'|trans|raw }}</h2>
            </div>
            <div class="col-12 survey-step">
                <span class="survey-badge survey-step-1">1</span>
                <span class="survey-badge survey-step-2">2</span>
                <span class="survey-badge survey-step-3">3</span>
                <span class="survey-badge survey-step-4">4</span>
                <span class="survey-badge survey-step-5 active">5</span>
                {{ form_widget(form.quality) }}
            </div>
        </div>

        <div data-step='2' class="survey-data-step">
            <div class="col-12 survey-question mt-5">
                <h2>{{ 'survey.paragraph1.html'|trans|raw }}</h2>
            </div>
            <div class="col-12 survey-step">
                <span class="survey-badge survey-step-1">1</span>
                <span class="survey-badge survey-step-2">2</span>
                <span class="survey-badge survey-step-3">3</span>
                <span class="survey-badge survey-step-4">4</span>
                <span class="survey-badge survey-step-5 active">5</span>
                {{ form_widget(form.Satisfaction) }}
            </div>
        </div>

        <div data-step='3' class="survey-data-step">
            <div class="col-12 survey-question mt-5">
                <h2>{{ 'survey.paragraph2.html'|trans|raw }}</h2>
            </div>
            <div class="col-12 survey-step">
                <span class="survey-badge survey-step-1">1</span>
                <span class="survey-badge survey-step-2">2</span>
                <span class="survey-badge survey-step-3">3</span>
                <span class="survey-badge survey-step-4">4</span>
                <span class="survey-badge survey-step-5 active">5</span>
                {{ form_widget(form.Facility) }}
            </div>
        </div>

        <div data-step='4' class="survey-data-step">
            <div class="col-12 survey-question mt-5">
                <h2>{{ 'survey.paragraph3.html'|trans|raw }}</h2>
            </div>
            <div class="col-12 survey-step">
                <span class="survey-badge survey-step-1">1</span>
                <span class="survey-badge survey-step-2">2</span>
                <span class="survey-badge survey-step-3">3</span>
                <span class="survey-badge survey-step-4">4</span>
                <span class="survey-badge survey-step-5 active">5</span>
                {{ form_widget(form.Relevance) }}
            </div>
        </div>

        <div data-step='5' class="survey-data-step">
            <div class="col-12 survey-question mt-5">
                <h2>{{ 'survey.paragraph4.html'|trans|raw }}</h2>
            </div>
            <div class="col-12 survey-step">
                {{ form_widget(form.Improvement, {'attr': {'class': 'survey-step-text', 'rows': '8'}}) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    <div class="col-12 survey-footer">
        <span id="survey-prev">< {{ 'navigation.back'|trans }}</span>
        <div class="progress">
            <div id="survey-progress" class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                 aria-valuemax="100"></div>
        </div>
        <span id="survey-next" data-label-next="Next >" data-label-finished="Finished"
              data-form="{{ form.vars["id"] }}">{{ 'navigation.next'|trans }} ></span>
    </div>
</div>
    {% endblock %}
