{% extends "main/layout.html.twig" %}

{% block title %}{{ 'title.toolbox'|trans }} - PerfectMatch{% endblock %}

{% block content %}
    <div class="main-title mt-5 mb-5">
        <h2>
            <span>{{ 'toolbox.heading'|trans }}</span>
        </h2>

        <p>{{ 'toolbox.paragraph0'|trans }}</p>
    </div>

    <div class="toolbox-wrapper">
        <div class="accordion accordion-flush" id="toolboxAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        {{ 'toolbox.item1.heading'|trans }}
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                     data-bs-parent="#toolboxAccordion">
                    <div class="accordion-body">
                        {{ 'toolbox.item1.description'|trans }} <br/><br/>
                        <a target="_blank" href="{{asset('Perfect Match Outputs Easy Download Links.pdf')}}" class="invert-button mt-2" style="cursor:pointer;">{{ 'toolbox.item1.button'|trans }}</a>
                        <br/>
                    </div> 
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        {{ 'toolbox.item2.heading'|trans }}
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                     data-bs-parent="#toolboxAccordion">
                    <div class="accordion-body">
                        {{ 'toolbox.item2.description'|trans }} <br/>

                        <ol>
                            <li><a href="https://www.canva.com/fr_fr/creer/cv/">Canva</a></li>
                            <li><a href="https://europa.eu/europass/eportfolio/screen/cv-editor?lang=en">Europass</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
