{% extends 'account.html.twig' %}

{% block title %}
    {% if EntityName is defined %}
        {{ EntityName }}
    {% endif %}
    - PerfectMatch
{% endblock %}

{% block content %}
    <h1>
        {% if EntityName is defined %}
            {{ EntityName }}
        {% endif %}
    </h1>
    <div class="settings-wrapper row">
        <div class="col-md-4 settings-nav">
            <div class="settings-nav-wrapper">
                <h2 class="settings-nav-title">{{ 'general.heading'|trans }}</h2>

                {% block nav %}{% endblock %}
            </div>
        </div>
        <div class="col-md-8 pt-3 settings-body crud-body">
            {% block template_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
