.crud-list * {
  border: none;
  box-shadow: none;
}

.form-step a{
  text-transform: capitalize;
}

.crud-list-title {
  margin: 0;
  padding-bottom: 1rem;
  height: min-content;
}

.crud-list-title h3 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0;
  padding-left: 0;
}

.crud-list .table-responsive {
  padding: 0;
  min-height: 20vh;
  max-height: 75vh;
}

.crud-list .table {
}

.crud-list th {
  padding: 0.6rem 0.2rem;
  text-align: center;
  background-color: rgb(248 250 252);
  color: var(--secondary-text);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  border-top: 1px solid rgb(229, 231, 235);
  border-bottom: 1px solid rgb(229, 231, 235) !important;
  white-space: nowrap;
}

.crud-list td {
  white-space: nowrap;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-text);
  vertical-align: middle;
}

.crud-list td:first-child {
  font-weight: 600;
}

.crud-list .dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}

.crud-list .dropdown a:first-child {
  text-decoration: none;
  color: var(--secondary-text);
}

.crud-list .dropdown-menu.show {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform: translate(-110px, 16px) !important;
  inset: unset!important;
}

.crud-list .dropdown-menu {
  background-color: transparent;
}

.crud-list .dropdown-menu li {
  width: fit-content;
  display: flex;
  background-color: #fff;
}

.crud-list .dropdown-menu a {
  border-radius: 5px;
  margin-bottom: 0.1rem;
  color: var(--primary) !important;
  font-weight: 600;
}

.crud-list .dropdown-menu a:focus {
  background-color: var(--primary) !important;
  color: #fff !important;
}

.crud-list .dropdown-menu a:hover {
  background-color: rgba(var(--primary-rgb), 0.05);
}

.crud-list .table-responsive::-webkit-scrollbar {
  height: 8px;
}

/* Track */
.crud-list .table-responsive::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.crud-list .table-responsive::-webkit-scrollbar-thumb {
  background: var(--primary);
}

.crud-list label {
  font-size: 14px;
  opacity: 0.8;
}

.crud-list input,
.crud-list textarea {
  outline: none !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  font-size: 1rem;
  color: #212529;
}

.crud-list input:focus {
  border: 1px solid var(--primary);
}

.crud-list button {
  font-size: 16px;
  font-weight: 800;
  width: 100%;
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: var(--secondary);
  transition: all 0.3s ease;
}

.crud-list button:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

.show-list {
  display: flex;
  flex-direction: column;
}

.show-item {
  display: flex;
  flex-direction: column;
}

.show-item span {
  color: var(--primary);
  font-size: 16px;
  font-weight: 600;
}

.show-item p,
.show-item a {
  color: var(--secondary-text);
  font-size: 14px;
  font-weight: 500;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
  border-bottom: 1px solid rgba(var(--grey-rgb), 0.5);
}

.show-item .show-association {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.show-item .show-association .association-item {
  display: flex;
  background-color: #fff;
  border: 1px solid var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  flex-grow: 1;
  margin: 0.2rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.show-item .show-association .association-item p {
  padding: 0;
  border: 0;
  margin: 0;
  color: var(--primary);
  font-weight: 600;
  word-break: break-all;
}

#img-preview {
  display: none;
  width: 155px;
  border: 2px dashed #333;
  margin-bottom: 20px;
}
#img-preview img {
  width: 100%;
  height: auto;
  display: block;
}

.images-field[type="file"] {
  height: 0;
  width: 0;
  overflow: hidden;
}
.images-field[type="file"] + label {
  font-family: sans-serif;
  background: #f44336;
  padding: 10px 30px;
  border: 2px solid #f44336;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}

.images-field[type="file"] + label:hover {
  background-color: #fff;
  color: #f44336;
}

#images-fields-list{
  list-style-type: none;
}
