.recentActivity {
  background-color: var(--secondary);
  overflow-x: hidden;
  margin-bottom: 2rem;

  box-shadow: 0 0 transparent, 0 0 transparent,
    0 10px 15px -3px rgba(0, 0, 0, 0.08), 0 4px 6px -2px rgba(0, 0, 0, 0.01);
}

.recentActivity .activity-block > div:first-child {
  height: 3.3rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--body-content);
  border: 1px solid rgb(226 232 240);
  padding: 20px;
}

.recentActivity h3 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0;
}

.recentActivity .content-item {
  padding: 12px;
  max-height: 250px;
  overflow-y: scroll;
}

.recentActivity .content-item::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.recentActivity .content-item::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.recentActivity .content-item::-webkit-scrollbar-thumb {
  background: var(--primary);
}

.recentActivity .activity-title {
  width: 100%;
  margin: 0;
  padding: 8px;
  background-color: var(--body-content);
  color: rgba(0, 0, 0, 0.3);
}

.recentActivity .activity-item {
  min-height: 52px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  font-size: 14px;
  border-bottom: 1px solid var(--body-content);
}
.recentActivity .activity-item .bubble {
  background-color: var(--primary);
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  vertical-align: middle;
  color: #fff;
}

.recentActivity .activity-item .text {
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.recentActivity .activity-item a {
  font-size: 14px;
  color: rgb(99 102 241);
}

.recentActivity .activity-item a > i {
  font-size: 12px;
  margin-left: 5px;
}

.recentActivity .action-button:first-child {
  background-color: #ebfdee;
}

.recentActivity .action-button:last-child {
  background-color: #ffefe2;
}

@media (max-width: 576px) {
  .recentActivity .activity-item {
    text-align: center;
  }

  .recentActivity i {
    margin: 1rem auto 0.5rem auto;
  }
}

.recentActivity .bubble{
  color: var(--dark);
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recentActivity .bubble > a{
  display: flex;
  justify-content: flex-end;
}

.recentActivity .bubble p{
  margin: 0;
}

.recentActivity .bubble a{
  color: var(--primary);
  text-decoration: none;
}

.recentActivity .bubble h3{
  opacity: .6;
  font-size: .88rem;
}

.recentActivity .icon-wrapper-bg{
  height: 54px;
  width: 54px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  margin-right: 16px;
}

.recentActivity .icon-wrapper-bg i{
  color: var(--secondary);
}