/* Global*/
* {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

html,
body {
  min-height: 100vh;
  color: rgb(71 85 105);
}

.pf {
  fill: currentColor;
}

.a_ {
  color: var(--primary);
}

.ma {
  color: var(--primary);
}

.ml {
  color: #fff;
}

.period-list {
  padding: 0;
  margin: 0;
}

.period-list li {
  list-style-type: none;
}

.start-date,
.end-date {
  margin: 0!important;
  width: 140px;
}

.date-range{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.remove-period {
  margin-bottom: 1rem;
  color: var(--primary);
}

.modal {
  margin-left: 264px;
  z-index: 10;
}

svg {
  margin-right: 0.3rem;
  height: 24px;
}

/* Sidebar */
.container-fluid {
  padding: 0;
}

.sidebar {
  position: fixed;
  width: 264px;
  background-color: var(--primary);
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.content {
  margin-left: 264px;
}
.sidebar-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sidebar-logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding: 0 1rem;
  position: relative;
  background-color: #fff;
}

.sidebar-logo i {
  position: absolute;
  left: 10px;
  font-size: 24px;
  display: none;
  color: var(--secondary-text);
}

.sidebar-logo img {
  width: 50%;
}

.sidebar ul {
  padding: 0;
  margin: 2rem 0 0 0;
  width: 100%;
  padding: 0 30px;
}

.sidebar ul li {
  list-style-type: none;
  margin-bottom: 2rem;
}

.sidebar ul li a {
  text-decoration: none;
  color: var(--secondary);
}

dropdown label:hover,
dropdown ul li:hover {
  cursor: pointer;
}

dropdown input {
  display: none;
}

dropdown input ~ ul {
  position: relative;
  visibility: hidden;
  opacity: 0;
  height: 0;
  z-index: 1;
  margin-top: 0 !important;
}

dropdown input ~ label {
  width: 100%;
}

dropdown input ~ ul li {
  margin-bottom: 0.2rem !important;
  color: var(--secondary);
}

dropdown input ~ ul li:first-child {
  margin-top: 0.5rem !important;
}

dropdown input ~ label {
  position: relative;
  color: var(--secondary);
}

dropdown input ~ label i {
  visibility: hidden;
  font-size: 0;
  position: absolute;
  right: -1rem;
  bottom: 0;
}

dropdown input:checked ~ ul {
  visibility: visible;
  opacity: 1;
  height: auto;
}

dropdown input:checked ~ label i.fa-sort-up {
  visibility: visible !important;
  font-size: 20px;
}
dropdown input:not(:checked) ~ label i.fa-sort-down {
  visibility: visible !important;
  font-size: 20px;
}

.animate {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Chrome and Safari */
  -moz-backface-visibility: hidden; /* Firefox */
  -ms-backface-visibility: hidden; /* Internet Explorer */
}

.animate i {
  float: right;
  margin-right: 10px;
}

/*Navbar*/
.content .navbar {
  padding: 0 1rem;
  margin: 0;
  width: 100%;
  height: 3rem;
  background-color: var(--primary);
}

.content .navbar div:last-child,
.content .navbar div:last-child a {
  text-align: right;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.content .content-body {
  padding: 2rem;
  background-color: var(--body-content);
  min-height: calc(100vh - 3rem);
}

.content .navbar i {
  width: min-content;
  font-size: 1.1rem;
  cursor: pointer;
  color: var(--secondary);
  margin-left: 0.5rem;
  vertical-align: middle;
}

.navbar-toogle {
  display: flex !important;
  align-items: center;
  cursor: pointer;
  color: var(--secondary);
}

.sidebar-logo > .navbar-toogle {
  transform: scale(0.8);
}

/*Media query*/

/*Sidebar*/
@media (max-width: 992px) {
  .movable {
    transform: translateX(-264px);
    transition: all 0.2s linear;
  }

  .sidebarShow {
    transform: translateX(0);
  }

  .content {
    width: 100%;
  }

  .sidebarShow .content {
    width: auto;
  }

  .navbar-toogle {
    display: flex !important;
  }

  .date-range{
    justify-content: flex-start;
  }
  .searchbar div{
    margin-bottom: 1rem;
  }
  .start-date{
    margin-right: 2rem!important;
  }
}

/* SearchBar */
#searchForm input {
  border-radius: 999px;
  width: 80%;
  text-align: center;
  height: 42px;
  border: 1px solid #666;
}

#searchForm button {
  width: 80%;
  margin: 0 auto;
}
#searchForm .searchbar div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

#searchForm .searchbar div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#searchForm .searchbar div label {
  color: var(--primary);
  font-weight: 600;
  font-size: 14px;
}

.main-title h2 {
  font-size: 22px;
  color: #000;
  font-weight: 700;
}
.main-title h2 span {
  font-size: 22px;
  font-weight: 800;
  color: var(--primary);
}

/* sectionCompagny */

.sectionTrainee div:first-child h2 {
  font-size: 32px;
  color: #000;
  font-weight: 800;
}

.sectionTrainee div:first-child > a {
  font-size: 14px;
  font-weight: 800;
  color: #000;
}

.sectionTrainee div:first-child h2 span {
  font-size: 32px;
  color: var(--primary);
}


.sectionTrainee .work {
  width: 100%;
  border: 1px solid var(--primary);
  border-radius: 15px;
}

.sectionTrainee .work .workTitle {
  background-image: url("https://lavoriamo.cfpzanardelli.it/wp-content/uploads/2021/04/pexels-tatiana-fet-1105766-1-scaled.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 110px;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sectionTrainee .work .workTitle i {
  color: var(--primary);
  font-size: 2rem;
  margin-right: 3rem;
}
.sectionTrainee .work .workBody {
  padding: 2rem 3rem;
  text-align: left;
}

.sectionTrainee .work .workBody p {
  font-size: 16px;
  text-transform: lowercase;
  font-style: italic;
  font-weight: 500;
}

.sectionTrainee .work .workBody span {
  font-size: 16px;
}

.sectionTrainee .work .workBody span i {
  font-size: 1rem;
  color: var(--primary);
}

.sectionTrainee .work .workBody .title {
  font-size: 21px;
  font-weight: 600;
  color: var(--primary);
}

.sectionTrainee .work .workAction a {
  color: var(--primary);
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  text-align: left;
  margin-left: 3rem;
  margin-bottom: 2rem;
}

/* trainee View */
.sectionTrainee .trainee-info{
  font-size: 1rem;
}

.sectionTrainee .trainee-info span{
  color: var(--primary);
}

.sectionTrainee .trainee-info a{
  text-decoration: none;
  color: var(--secondary-text);
  margin-bottom: 1rem;
}

.sectionTrainee .trainee-info .date-period{
  margin-top: 1rem;
}
.sectionTrainee .trainee-info .date-period p{
  text-align: center;
  border: 1px solid var(--primary);
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: .5rem;
  margin-left: 1rem;
  color: var(--secondary-text);
}
.traineeZone{
  display: flex;
  align-items: center;
}
.traineeZone div span:not(:first-child)::before{
  content: '/ ';
}
