/* Messaging */
.messaging-body {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
}

.messaging-content {
    margin: 1rem 1rem 0 1rem;
    padding: 1rem 0;
    max-height: 400px;
    overflow: scroll;
    background-color: var(--body-content);
}

.messaging-content .message {
    padding: 1rem;
    min-width: 100px;
    max-width: 47%;
}

.messaging-content .sent {
    width: 100%;
    margin: 0;
    justify-content: flex-start;
    align-items: center;
}
.messaging-content .received {
    width: 100%;
    margin: 0;
    justify-content: flex-end;
    align-items: center;
}

.messaging-content .sent p {
    align-self: flex-start;
    text-align: start;
}
.messaging-content .sent::before {
    content: "";
    width: 0;
    height: 0;
    transform: translateY(-10px);
    border-style: solid;
    border-width: 10px 17.3px 10px 0;
    border-color: transparent var(--secondary) transparent transparent;
}

.messaging-content .received p {
    align-self: flex-end;
    text-align: end;
}

.messaging-content .received::after {
    content: "";
    width: 0;
    height: 0;
    transform: translateY(-10px);
    border-style: solid;
    border-width: 10px 0 10px 17.3px;
    border-color: transparent transparent transparent var(--secondary);
}

.messaging-footer{
    margin: 0 1rem;
    color: var(--primary);
}
.messaging-footer textarea{
    padding: 1rem;
    color: var(--secondary-text)!important;
    width: 100%;
    resize: none;
    height: 100px;
    border: 1px solid rgba(var(--primary-rgb), .3)!important;
}

@media (max-width: 576px) {
    .messaging-content .message {
        max-width: 90%;
    }
}

#reportModal, #reporting{
    margin-left: 0!important;
}

.report-modal-body > form{
    display: flex;
    flex-direction: column;
}
