h1 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Montserat", sans-serif;
  margin-bottom: 2rem;
}

.settings-wrapper {
  background-color: var(--secondary);
  overflow-x: hidden;

  box-shadow: 0 0 transparent, 0 0 transparent,
    0 10px 15px -3px rgba(0, 0, 0, 0.08), 0 4px 6px -2px rgba(0, 0, 0, 0.01);
}

.settings-nav {
  padding: 24px 12px;
  border-right: 1px solid rgb(226 232 240);
}

.settings-nav .settings-nav-title {
  text-transform: uppercase;
  color: var(--secondary-text);
  font-size: 12px;
  font-weight: 600;
}

.settings-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.settings-nav svg {
  height: 16px;
  width: 16px;
}

.settings-nav .warning{
  margin-left: auto;
  cursor: pointer;
}

.settings-nav ul li {
  padding: 10px;
  display: flex;
  align-items: center;
}

.settings-nav ul li a {
  color: var(--secondary-text);
  text-decoration: none;
  font-size: 14px;
}

.settings-nav ul li .button {
  color: var(--secondary-text);
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: none;
  padding: 0;
  font-size: 14px;
}

.settings-nav ul li.active {
  background-color: rgba(var(--primary-rgb), 0.05);
}

.settings-nav ul li.active a,
.settings-nav ul li.active svg {
  color: var(--primary);
  fill: var(--primary);
}

@media (max-width: 768px) {
  .settings-nav ul {
    display: flex;
    overflow-x: scroll;
    position: relative;
  }

  .settings-nav ul::-webkit-scrollbar {
    height: 8px;
  }

  /* Track */
  .settings-nav ul::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .settings-nav ul::-webkit-scrollbar-thumb {
    background: var(--primary);
  }

  .settings-nav ul li {
    display: flex;
    flex-wrap: nowrap;
  }
  .settings-nav ul li a {
    white-space: nowrap;
  }
}

/* Settings account avatar */
#settings-myaccount > form > div:first-child > h3 {
  font-size: 24px;
}
#settings-myaccount > form > div > h3 {
  color: var(--secondary-text);
  font-weight: 700;
  font-size: 20px;
}

#settings-myaccount .settings-account-avatar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

#settings-myaccount .settings-account-avatar div:first-child {
  width: 110px;
}

#settings-myaccount .settings-account-avatar div:last-child {
  width: 15%;
  margin-top: 1rem;
}

#settings-myaccount .settings-account-avatar img {
  border-radius: 999px;
  width: 80px;
}

#settings-myaccount .settings-account-avatar a {
  color: var(--secondary);
  background-color: var(--primary);

  padding: 4px 10px;
  font-size: 14px;
  width: min-content;
  border: 0;
  outline: none;
  border-radius: 5px;
  text-decoration: none;
}

#settings-myaccount small {
  font-weight: normal;
  font-size: 14px;
}

@media (max-width: 576px) {
  #settings-myaccount .settings-account-avatar div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#passwordCheckbox {
  display: none;
}

#inputGroup {
  display: none;
}

#passwordCheckbox:checked ~ label {
  display: none;
}

#passwordCheckbox:checked ~ #inputGroup {
  display: block;
}

#newPasswordButton {
  cursor: pointer;
}

.settings-account-informations label {
  font-size: 14px;
}

.settings-account-submit {
  text-align: center;
}

#documents-fields-list{
  list-style-type: none;
}

.document-exist{
  display: flex;
  align-items: center;
  font-size: 18px;
}

.document-exist  i{
  margin-right: 1rem;
  cursor: pointer;
  font-size: 1.3rem;
  background-color: #FFF;
  color: var(--primary);
}
