{% extends 'admin.html.twig' %}

{% block title %}
    {% if EntityName is defined %}
        {{ EntityName }}
    {% endif %}
    - PerfectMatch
{% endblock %}

{% block content %}


    {% block template_content %}{% endblock %}

{% endblock %}
