{% extends 'admin.html.twig' %}

{% block title %}{{ 'title.dashboard'|trans }} - PerfectMatch
{% endblock %}

{% block content %}
    <div class="recentActivity">
        <div class="activity-block">
            <div>
                <h3>{{ 'admin.dashboard.heading'|trans }}</h3>
            </div>

            <div class="row mx-0">
                <div class="col-md-3 col-sm-4 col bubble">
                    <a href="{{ path('admin_validation') }}" class="w-50">
                        <div class="icon-wrapper-bg opacity-9 bg-secondary">
                            <i class="fas fa-graduation-cap"></i>
                        </div>
                    </a>
                    <div class="px-0 d-flex w-50 flex-column justify-content-between">
                        <div class="d-flex align-items-center justify-content-between">
                            <h3>{{ 'label.school'|trans }}</h3>
                        </div>
                        <p><a href="#">{{ schools.active }}</a> / {{ schools.inactive }}</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4 col bubble">
                    <a href="{{ path('admin_validation') }}" class="w-50">
                        <div class="icon-wrapper-bg opacity-9 bg-success">
                            <i class="fas fa-industry"></i>
                        </div>
                    </a>
                    <div class="px-0 d-flex w-50 flex-column justify-content-between">
                        <div class="d-flex align-items-center justify-content-between">
                            <h3>{{ 'label.compagny'|trans }}</h3>
                        </div>
                        <p><a href="#">{{ compagnies.active }}</a> / {{ compagnies.inactive }}</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col bubble">
                    <a href="#" class="w-50">
                        <div class="icon-wrapper-bg opacity-9 bg-info">
                            <i class="fas fa-user-graduate"></i>
                        </div>
                    </a>
                    <div class="px-0 d-flex w-50 flex-column justify-content-between">
                        <div class="d-flex align-items-center justify-content-between">
                            <h3>{{ 'title.trainee'|trans }}</h3>
                        </div>
                        <p><a href="#">{{ trainees.active }}</a> / {{ trainees.inactive }}</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col bubble">
                    <a href="#" class="w-50">
                        <div class="icon-wrapper-bg opacity-9 bg-warning">
                            <i class="fas fa-certificate"></i>
                        </div>
                    </a>
                    <div class="px-0 d-flex w-50 flex-column justify-content-between">
                        <div class="d-flex align-items-center justify-content-between">
                            <h3>{{ 'title.degree'|trans }}</h3>
                        </div>
                        <p><a href="#">{{ degrees.active }}</a> / {{ degrees.inactive }}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {% if Anonymisation %}
        <div class="recentActivity">
            <div class="activity-block">
                <div>
                    <h3>{{ 'admin.statistics.heading'|trans }}</h3>
                </div>

                <div class="row mx-0">
                    <div class="col-md-3 col-sm-4 col bubble">
                        <a href="#">
                            <div class="icon-wrapper-bg opacity-9 bg-secondary">
                                <i class="fas fa-graduation-cap"></i>
                            </div>
                        </a>
                        <div class="px-0 d-flex flex-column justify-content-between">
                            <div class="d-flex align-items-center justify-content-between">
                                <h3>{{ 'navigation.contactrequest'|trans }}</h3>
                            </div>
                            <p><a href="#">{{ statistics.s_request }}</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    {% endif %}

    <div class="recentActivity">
        <div class="activity-block">
            <div>
                <h3>{{ 'admin.statistics.heading'|trans }} | {{ 'label.compagny'|trans }}</h3>
            </div>

            <div class="row mx-0">
                <div class="col-md-3 col-sm-4 col bubble">
                    <a href="#" class="w-50">
                        <div class="icon-wrapper-bg opacity-9 bg-info">
                            <i class="fas fa-user-graduate"></i>
                        </div>
                    </a>
                    <div class="px-0 d-flex w-50 flex-column justify-content-between">
                        <div class="d-flex align-items-center justify-content-between">
                            <h3>{{ 'title.trainee'|trans }}</h3>
                        </div>
                        <p><a href="#">{{ trainees.active }}</a> / {{ trainees.inactive }}</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col bubble">
                    <a href="#" class="w-50">
                        <div class="icon-wrapper-bg opacity-9 bg-secondary">
                            <i class="fas fa-graduation-cap"></i>
                        </div>
                    </a>
                    <div class="px-0 d-flex w-50 flex-column justify-content-between">
                        <div class="d-flex align-items-center justify-content-between">
                            <h3>{{ 'admin.statistics.profileconsultation'|trans }}</h3>
                        </div>
                        <p><a href="#">{{ statistics.s_traineeProfil }}</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="recentActivity">
        <div class="activity-block">
            <div>
                <h3>{{ 'admin.statistics.heading'|trans }} | {{ 'label.compagny'|trans }}</h3>
            </div>

            <div class="row mx-0">
                <div class="col-md-3 col-sm-4 col bubble">
                    <a href="#" class="w-50">
                        <div class="icon-wrapper-bg opacity-9 bg-info">
                            <i class="fas fa-user-graduate"></i>
                        </div>
                    </a>
                    <div class="px-0 d-flex w-50 flex-column justify-content-between">
                        <div class="d-flex align-items-center justify-content-between">
                            <h3>{{ 'admin.statistics.internshipconsultation'|trans }}</h3>
                        </div>
                        <p>{{ statistics.s_compagnyContact }}</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col bubble">
                    <a href="#" class="w-50">
                        <div class="icon-wrapper-bg opacity-9 bg-secondary">
                            <i class="fas fa-graduation-cap"></i>
                        </div>
                    </a>
                    <div class="px-0 d-flex w-50 flex-column justify-content-between">
                        <div class="d-flex align-items-center justify-content-between">
                            <h3>{{ 'admin.statistics.makingcontact'|trans }}</h3>
                        </div>
                        <p>{{ statistics.s_internship }}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
