{% extends "admin/_template.html.twig" %}

{% set EntityName = 'title.reporting'|trans %}

{% block template_content %}
    <div class="settings-wrapper row">
        <div class="col pt-3 settings-body crud-body">
            <div id="settings-myschoollist" class="settings-dynamic row crud-list">
                <div class="row crud-list-title">
                    <div class="col-6 d-flex align-items-center">
                        <h3>{{ 'reporting.heading'|trans }}</h3>
                    </div>

                </div>

                <div class="table-responsive">
                    <table class="table reporting-table">
                        <thead>
                        <tr>
                            <th>{{ 'label.reporting.from'|trans }}</th>
                            <th>{{ 'label.reporting.to'|trans }}</th>
                            <th>{{ 'label.reporting.message'|trans }}</th>
                            <th>{{ 'label.actions'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for report in reports %}

                            <tr>
                                <td>{{ report.company.name }}</td>
                                <td>{{ report.trainee.lastname }} {{ report.trainee.firstname }}</td>
                                <td class="report-message">{{ report.message }}</td>
                                <td>
                                    <div class="d-flex">
                                        <a class="dropdown-item"
                                           href="#"
                                           data-bs-toggle="modal" data-bs-target="#reporting"
                                           data-message="{{ report.message }}"
                                           id="reportingShow"
                                        >{{ 'navigation.show'|trans }}</a>
                                        <a class="dropdown-item"
                                           href="{{ path('admin_disable_report', {'id': report.id}) }}"
                                           href="#">{{ 'navigation.treated'|trans }}</a>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>
                                    <h3>{{ 'norecordsfound'|trans }}</h3>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal %}
    <div class="modal fade" id="reporting" tabindex="-1" aria-hidden="true" data-bs-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'label.reporting.message'|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body crud-list">
                    <div class="report-modal-body">
                        <div id="reportingMessage"></div>
                    </div>
                </div>
                <div class="modal-footer crud-list">
                    <button type="button" data-bs-dismiss="modal">{{ 'navigation.cancel'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
