{% extends "admin/_template.html.twig" %}

{% set EntityName = 'title.settings'|trans %}

{% block template_content %}
    <div class="settings-wrapper row">
        <div class="col pt-3 settings-body crud-body">
            <div id="settings-myschoollist" class="settings-dynamic row crud-list">
                <div class="row crud-list-title">
                    <div class="col-6 d-flex align-items-center">
                        <h3>{{ 'settings.heading'|trans }}</h3>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="settings-list">
                    {% for setting in appSettings %}
                        {% if setting.name == "jobs" %}
                            <div class="settings-item row">
                                <div class="col-6">
                                    <span class="settings-item-title">{{ setting.name }}</span>
                                    <p class="settings-item-description">{{ setting.description }}</p>
                                </div>
                                <div class="col-6">
                                    <input type="hidden" id="settingRoute" data-route="{{ path('admin_settings_get_jobs') }}" data-set="{{ path('admin_settings_set_jobs') }}">
                                    {{ form_start(form) }}
                                    {{ form_rest(form) }}
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        {% else %}
                            <div class="settings-item row">
                                <div class="col-9">
                                    <span class="settings-item-title">{{ 'label.anonymization'|trans }}</span>
                                    <p class="settings-item-description">{{ 'description.anonymization'|trans }}</p>

                                </div>
                                <div class="col-3">
                                    <div class="form-check form-switch">
                                        <input {% if setting.value %}checked{% endif %}
                                               class="form-check-input settings-item-switch" type="checkbox"
                                               id="flexSwitchCheckDefault"
                                               data-route="{{ path('admin_settings_actions', {id: setting.id, state: "state"}) }}">
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
