{% extends "admin/_template.html.twig" %}

{% set EntityName = 'title.validation'|trans %}

{% block template_content %}
    <div class="settings-wrapper row">
        <div class="col pt-3 settings-body crud-body">
            <div id="settings-myschoollist" class="settings-dynamic row crud-list">
                <div class="row crud-list-title">
                    <div class="col-6 d-flex align-items-center">
                        <h3>{{ 'schools.heading'|trans }}</h3>
                    </div>

                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>{{ 'label.name'|trans }}</th>
                            <th>{{ 'label.active'|trans }}</th>
                            <th>{{ 'label.contactfirstname'|trans }}</th>
                            <th>{{ 'label.contactlastname'|trans }}</th>
                            <th>{{ 'label.email'|trans }}</th>
                            <th>{{ 'label.actions'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for school in schools %}

                            <tr>
                                <td>{{ school.name }}</td>
                                <td>
                                    {% if school.active %}
                                        <i class="fas fa-check"></i>
                                    {% else %}
                                        <i class="fas fa-times"></i>
                                    {% endif %}
                                </td>
                                <td>{{ school.contactFirstname }}</td>
                                <td>{{ school.contactLastname }}</td>
                                <td>{{ school.contactMail }}</td>
                                <td>
                                    <div class="dropdown">
                                        <a class="fas fa-ellipsis-h" role="button" id="actionsDropDown"
                                           data-bs-toggle="dropdown" aria-expanded="false"></a>

                                        <ul class="dropdown-menu" aria-labelledby="actionsDropDown">
                                            <li>
                                                <a class="dropdown-item"
                                                   href="{{ path('admin_school_validation', {'id': school.id, 'state': "true"}) }}"
                                                   href="#">{{ 'navigation.validate'|trans }}</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item"
                                                   href="{{ path('admin_school_validation', {'id': school.id, 'state': "false"}) }}"
                                                   href="#">{{ 'navigation.disabled'|trans }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>
                                    <h3>{{ 'norecordsfound'|trans }}</h3>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <div class="settings-wrapper row">
        <div class="col pt-3 settings-body crud-body">
            <div id="settings-mycompagnylist" class="settings-dynamic row crud-list">
                <div class="row crud-list-title">
                    <div class="col-6 d-flex align-items-center">
                        <h3>{{ 'compagnies.heading'|trans }}</h3>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>{{ 'label.name'|trans }}</th>
                            <th>{{ 'label.active'|trans }}</th>
                            <th>{{ 'label.contactfirstname'|trans }}</th>
                            <th>{{ 'label.contactlastname'|trans }}</th>
                            <th>{{ 'label.contactmail'|trans }}</th>
                            <th>{{ 'label.actions'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for compagny in compagnies %}

                            <tr>
                                <td>
                                    {{ compagny.name }}
                                </td>
                                <td>
                                    {% if compagny.active %}
                                        <i class="fas fa-check"></i>
                                    {% else %}
                                        <i class="fas fa-times"></i>
                                    {% endif %}
                                </td>
                                <td>{{ compagny.contactFirstname }}</td>
                                <td>{{ compagny.contactLastname }}</td>
                                <td>{{ compagny.contactMail }}</td>
                                <td>
                                    <div class="dropdown">
                                        <a class="fas fa-ellipsis-h" role="button" id="actionsDropDown"
                                           data-bs-toggle="dropdown" aria-expanded="false"></a>

                                        <ul class="dropdown-menu" aria-labelledby="actionsDropDown">
                                            <li>
                                                <a class="dropdown-item"
                                                   href="{{ path('admin_compagny_validation', {'id': compagny.id, 'state': "true"}) }}"
                                                   href="#">{{ 'navigation.validate'|trans }}</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item"
                                                   href="{{ path('admin_compagny_validation', {'id': compagny.id, 'state': "false"}) }}"
                                                   href="#">{{ 'navigation.disabled'|trans }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>
                                    <h3>{{ 'norecordsfound'|trans }}</h3>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <div class="settings-wrapper row">
        <div class="col pt-3 settings-body crud-body">
            <div id="settings-mycompagnylist" class="settings-dynamic row crud-list">
                <div class="row crud-list-title">
                    <div class="col-6 d-flex align-items-center">
                        <h3>{{ 'trainee.heading'|trans }}</h3>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>{{ 'label.firstname'|trans }}</th>
                            <th>{{ 'label.lastname'|trans }}</th>
                            <th>{{ 'label.active'|trans }}</th>
                            <th>{{ 'label.email'|trans }}</th>
                            <th>{{ 'label.actions'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for trainee in trainees %}

                            <tr>
                                <td>
                                    {{ trainee.firstname }}
                                </td>
                                <td>
                                    {{ trainee.lastname }}
                                </td>
                                <td>
                                    {% if trainee.active %}
                                        <i class="fas fa-check"></i>
                                    {% else %}
                                        <i class="fas fa-times"></i>
                                    {% endif %}
                                </td>
                                <td>{{ trainee.email }}</td>
                                <td>
                                    <div class="dropdown">
                                        <a class="fas fa-ellipsis-h" role="button" id="actionsDropDown"
                                           data-bs-toggle="dropdown" aria-expanded="false"></a>

                                        <ul class="dropdown-menu" aria-labelledby="actionsDropDown">
                                            <li>
                                                <a class="dropdown-item"
                                                   href="{{ path('admin_trainee_validation', {'id': trainee.id, 'state': "true"}) }}"
                                                   href="#">{{ 'navigation.validate'|trans }}</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item"
                                                   href="{{ path('admin_trainee_validation', {'id': trainee.id, 'state': "false"}) }}"
                                                   href="#">{{ 'navigation.disabled'|trans }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>
                                    <h3>{{ 'norecordsfound'|trans }}</h3>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
