/* Contact form */
.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-form{
    width: 50%;
}

.contact-form button{
    margin: auto;
}

@media (max-width: 992px) {

    .contact-form{
        width: 80%;
    }

}