/* Main wrapper */
:root {
  --personal-nav-test: #000203;
  --main-wrapper-offset: 15%;
}

.main-wrapper {
  padding: 0;
  min-height: 100vh;
  position: relative;
}

.content-wrapper{
  padding-bottom: 480px;
}

.flag-list{
  display: flex;
  flex-direction: column;
}

.flag-item{
  height: 1.5rem;
  width: 1.5rem;
  overflow: hidden;
  display: flex;
}

.flag-item img{
  width: 100%;
  height: 100%;
}

/* Global */
.main-title {
  text-align: center;
}

.main-title h2 {
  font-size: 32px;
  color: #000;
  font-weight: 800;
}
.main-title h2 span {
  font-size: 32px;
  color: var(--primary);
}

/* Personal nav */
.personal-nav {
  background-color: #e6e6e6;
  text-align: right;
  padding: 1rem 0;

  font-weight: 600;
  font-size: 15px;
}

.main-nav-container{
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
}

.dropdown-flag li{
  display: flex;
  height: 1.5rem;
  height: 1.5rem;
  font-size: .8rem;
  align-items: center;
}

#dropdownFlag{
  height: 2rem;
  width: 3rem;
  overflow: hidden;
  padding: 0;
  outline: none;
  box-shadow: none;
  transition: .1s linear;
}

#dropdownFlag:hover{
 transform: scale(1.05);
}

#dropdownFlag img{
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.dropdown-flag li img{
  height: 90%;
  width: 2.5rem;
  object-fit: cover;
  padding-right: .4rem;
}

.dropdown-flag a{
  text-transform: capitalize;
  padding-left: .5rem;
  color: var(--primary);
}

.personal-nav ul {
  margin: 0 var(--main-wrapper-offset) 0 0;
}

.personal-nav ul li {
  display: inline-block;
  list-style: none;
  margin-right: calc(0.5rem + 2px);
}

.personal-nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--personal-nav-test);
  position: relative;
}

.personal-nav ul li:not(:last-child) a::after {
  content: "";
  position: absolute;
  top: 0rem;
  right: -0.5rem;
  width: 2px;
  height: 100%;
  background-color: var(--personal-nav-test);
}

/* logo */
.logo {
  width: 100%;
  padding: 0 15px 20px 0;
  text-align: center;
}

.logo img{
  width: 230px
}

.logo a:first-child img{
  height: 1cm;
  width: inherit;
}

.logo a:last-child img{
  height: 2cm;
  width: inherit;
}

/* nav */
.nav {
  padding: 0;
}

.nav .navbar {
  flex-grow: 1;
  background-color: var(--primary);
  padding: 0;
}

.nav .navbar button {
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0.8rem 1rem;
}

/* navbar collapse */
.nav .navbar {
  min-height: 3.5rem;
}

.nav .navbar-collapse {
  justify-content: flex-end;
  margin-right: var(--main-wrapper-offset);
}

.nav .navbar-collapse ul li {
  display: inline-block;
}

/* sectionFitler */
.sectionFilter {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  background-image: url("https://lavoriamo.cfpzanardelli.it/wp-content/uploads/2021/04/home-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 350px;
}

.sectionFilter .sectionFilterWrapper {
  width: 100%;
}

.sectionFilter .filterWrapper {
  /* background: url("https://lavoriamo.cfpzanardelli.it/wp-content/uploads/2021/04/filigrana-zanardelli_work.jpg");
  background-size: contain; */
  background-color: var(--primary);
  height: 217px;
  max-width: 500px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sectionFilter .filterWrapper .icon {
  background-color: #fff;
  width: 46px;
  height: 46px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: var(--primary);
}

.sectionFilter .filterWrapper span {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: var(--secondary);
  margin-top: 1rem;
}

.sectionFilter .filterWrapper a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--secondary);
  font-size: 15px;
  font-weight: 800;
  border: solid 1px #fff;
  border-radius: 15px;

  padding: 0.5rem 2rem;
  margin-top: 1rem;
}

/* sectionText */
.sectionText {
  font-family: "Inter", sans-serif;
  justify-content: center;

  margin: 3rem auto auto auto;
}

.sectionText div {
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
}

.sectionText div:last-child {
  text-align: right;
}

.sectionText h2 {
  font-size: 32px;
  color: #000;
  font-weight: 800;

  margin-bottom: 2rem;
}

.sectionText h2 span {
  color: var(--primary);
}

.sectionText p {
  font-size: 18px;
}

.sectionText ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sectionText ul li {
  list-style-type: none;
  margin-bottom: 1rem;
}

.sectionText ul li {
  border: 1px solid var(--primary);
  border-radius: 15px;
  padding: 0.6rem 1rem;
  width: fit-content;
}

.sectionText ul li a {
  color: var(--primary);
  font-size: 16px;
  font-weight: 800;
  text-decoration: none;
}

/* sectionJobs */
.sectionJobs {
  margin: 0 1rem;
}

.sectionJobs div:first-child > a {
  font-size: 14px;
  font-weight: 800;
  color: #000;
}

/* Carousel */
a {
  text-decoration: none;
}

.owl-carousel .owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  position: relative;
}
.owl-carousel .owl-dots .owl-dot.active {
  background: var(--primary);
}

/* Carousel item */
.sectionJobs {
  margin: 0 calc(100% / 8);
}

.sectionJobs .work {
  width: 100%;
  border: 1px solid var(--primary);
  border-radius: 15px;
  padding: 2rem;
}

.sectionJobs .work .workTitle {
  margin-bottom: 1.5rem;
}

.sectionJobs .work .workTitle span {
  color: var(--primary);
  font-weight: 600;
  font-size: 21px;
}

.sectionJobs .work .workTitle i {
  color: var(--primary);
  font-size: 1.4rem;
  cursor: pointer;
}

.sectionJobs .work .workList ul {
  list-style-type: none;
}

.sectionJobs .work .workList ul li {
  margin-bottom: 0.3rem;
}

.sectionJobs .work .workList li a {
  color: #000;
  font-size: 16px;
}

.sectionJobs .work .workList li:first-child a {
  color: #000;
  font-size: 1rem;
  font-weight: 700;
}

.sectionJobs .work .workList i {
  color: var(--primary);
  font-size: 1rem;
}

.sectionJobs .work .workBody span {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.sectionJobs .work .workBody p {
  font-size: 15px;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.sectionJobs .work .workAction a {
  color: var(--primary);
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}

/* sectionCompagny */
.sectionCompagny {
  margin: 0 calc(100% / 8);
}

.sectionCompagny div:first-child {
  text-align: center;
}

.sectionCompagny div:first-child h2 {
  font-size: 32px;
  color: #000;
  font-weight: 800;
}

.sectionCompagny div:first-child > a {
  font-size: 14px;
  font-weight: 800;
  color: #000;
}

.sectionCompagny div:first-child h2 span {
  font-size: 32px;
  color: var(--primary);
}

/* Carousel item */

.sectionCompagny .work {
  width: 100%;
  border: 1px solid var(--primary);
  border-radius: 15px;
}

.sectionCompagny .work .workTitle {
  background-image: url("https://lavoriamo.cfpzanardelli.it/wp-content/uploads/2021/04/pexels-tatiana-fet-1105766-1-scaled.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 110px;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sectionCompagny .work .workTitle i {
  color: var(--primary);
  font-size: 2rem;
  margin-right: 3rem;
}
.sectionCompagny .work .workBody {
  padding: 2rem 3rem;
  text-align: left;
}

.sectionCompagny .work .workBody p {
  font-size: 16px;
  text-transform: lowercase;
  font-style: italic;
  font-weight: 500;
}

.sectionCompagny .work .workBody span {
  font-size: 16px;
}

.sectionCompagny .work .workBody span i {
  font-size: 1rem;
  color: var(--primary);
}

.sectionCompagny .work .workBody .title {
  font-size: 21px;
  font-weight: 600;
  color: var(--primary);
}

.sectionCompagny .work .workAction{
  margin-top: .2rem;
}

.sectionCompagny .work .workAction a {
  color: var(--primary);
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  text-align: left;
}

/* sectionContact */
.sectionContact .body {
  /* background: url("https://lavoriamo.cfpzanardelli.it/wp-content/uploads/2021/04/filigrana-zanardelli_work.jpg"); */
  background-color: var(--primary);
  transform: translateX(calc(100% / 8));
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  height: 165px;
  display: flex;
  align-items: center;
  text-align: center;
}

.sectionContact .contact-text{
  width: 100%;
  padding-right: calc(100% / 6);
}

.sectionContact .body p {
  color: var(--secondary);
  font-size: 16px;
  font-weight: 600;
}

.sectionContact .body div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionContact .body div > div {
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  width: fit-content;
}

.sectionContact .body div > div > a {
  color: var(--secondary);
  font-size: 15px;
  font-weight: 800;
}

.sectionContact .body div ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.sectionContact .body div ul li {
  list-style-type: none;
  background-color: #fff;
  height: 40px;
  width: 40px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionContact .body div ul li a {
  text-decoration: none;
  color: var(--primary);
}

/* footer */
footer {
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  padding-top: 2.5rem;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  font-family: "Inter", sans-serif;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer .footer-infos {
  margin-left: 2rem;
  text-align: center;
}

footer .footer-infos h3 {
  font-size: 14px;
  font-weight: 800;
}

footer .footer-infos h3 span {
  color: var(--primary);
}

footer .footer-infos ul li a {
  font-size: 14px;
  font-style: italic;
}

footer .footer-disclaimer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
}

footer .footer-disclaimer img {
  padding-right: 2rem;
}

footer .footer-nav {
  text-align: right;
  margin-right: 2rem;
}

footer .footer-nav ul li {
  position: relative;
}

footer .footer-nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 800;
  transition: color ease 0.2s;
}

footer .footer-nav ul li a:hover {
  color: var(--primary);
}

footer .footer-img {
  display: flex;
  justify-content: center;
}

footer .footer-img img {
  margin: 1.35rem 0;
  width: 20%;
}

footer .footer-img .banner {
  width: 80%;
}

footer .footer-img p {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

footer .footer-bottom {
  background-color: var(--primary);
  height: 60px;
  display: flex;
  align-items: center;
}

footer .footer-bottom a{
  height: fit-content;
  padding-left: 1rem;
  color: #FFF;
}

footer .footer-bottom span{
  color: #000;
}

/* media query */

/* navbar collapse */
@media (max-width: 992px) {
  .nav .navbar-collapse {
    background-color: #000;
    padding: 0;
    margin-right: 0;
  }

  .nav .navbar-collapse a {
    padding: 1.2rem 1.9rem;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
  }

  .nav .navbar-collapse a:hover {
    color: #f40045 !important;
  }
}

/* sectionFitler */
@media (max-width: 1500px) {
  .sectionFilter .filterWrapper:not(:last-child) {
    border-radius: 0 0 50px 50px;
    margin-bottom: 2rem;
  }
}

@media (max-width: 992px) {
  .sectionFilter .filterWrapper:first-child {
    border-radius: 0 0 50px 50px;
    margin-bottom: 2rem;
  }

  .sectionFilter .filterWrapper:nth-child(2) {
    border-radius: 50px;
    margin-bottom: 2rem;
  }
}

/* sectionContact */
@media (max-width: 992px) {
  .sectionContact .body {
    background-position: center;
    transform: translateX(0);
    border-radius: 0;
    height: inherit;
    padding: 2rem 0;
  }

  .sectionContact .body div:not(:last-child) {
    margin-bottom: 1rem;
  }

  .sectionContact .contact-text{
    width: 100%
  ;
    padding: 1rem 2rem;
  }
}

/* footer */
@media (max-width: 992px) {
  .content-wrapper{
    padding-bottom: 780px;
  }

  footer {
    text-align: center;
  }

  footer .footer-infos {
    margin-left: 0;
    margin-bottom: 2rem;
  }

  footer .footer-nav {
    margin: 2rem 0;
    text-align: center;
    margin-right: 0;
  }

  footer .footer-img img {
    margin: 1.35rem 0;
    width: 40%;
    margin-bottom: 2rem;
  }
}

