.referer-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.referer-wrapper .form {
  text-align: center;
}

h2 {
  font-size: 32px;
  color: #000;
  font-weight: 800;
  text-align: center;
}

.subtitle {
  text-align: center;
  position: relative;
}

.subtitle h3 {
  font-size: 22px;
  color: #000;
  text-align: center;
}

.subtitle h3 {
  font-size: 22px;
  color: #000;
  text-align: center;
}

.subtitle h3::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 30%;
  width: 40%;
  height: 1px;
  background-color: var(--primary);
}

.subtitle h3::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 35%;
  width: 30%;
  height: 1px;
  background-color: var(--primary);
}

span {
  color: var(--primary);
}

.referer-wrapper input {
  outline: none;
  box-shadow: none;
  margin-bottom: 1rem;
  margin: auto;
}

.referer-wrapper input:focus {
  border-color: var(--primary);
}

.referer-wrapper button {
  font-size: 16px;
  font-weight: 800;
  width: 100%;
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: var(--secondary);
  transition: all 0.3s ease;
}
