.search-container .main-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-container .main-title h2{
    width: fit-content;
}

.search-container .search-logo{
    width: 200px;
    height: 100px;
}

.search-container .featured-carousel img{
    max-height: 300px;
}