.survey-wrapper {
  height: 100%;
}

.survey-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5rem;
}

.survey-footer .progress {
  width: 50%;
}

.survey-footer .progress .progress-bar {
  background-color: var(--primary);
}

.survey-footer span {
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
  user-select: none; /* Propriété standard */
}
.survey-question {
  margin-bottom: 5rem;
}
.survey-question h2 {
  font-size: 1.5rem;
}

.survey-step {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.survey-badge {
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 999px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary);
  margin: 0 1rem;
  cursor: pointer;
  transition: all .1s linear;
}

.survey-badge.active{
    color: var(--secondary-text);
    transform: scale(1.1);
}

.survey-step-1 {
  background-color: rgb(215, 52, 63);
}

.survey-step-2 {
  background-color: rgb(221, 131, 63);
}

.survey-step-3 {
  background-color: rgb(235, 160, 57);
}

.survey-step-4 {
  background-color: rgb(225, 206, 66);
}

.survey-step-5 {
  background-color: rgb(161, 199, 63);
}

#survey-data-container {
  transition: all 0.3s linear;
  display: flex;
}

.survey-data-step {
  min-width: 100%;
  margin: 0;
}

.survey-step-text{
    width: 70%;
    resize: none;

    color: var(--primary);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 1rem;
}

.survey-step-text:focus{
    color: var(--primary);
    font-size: 1.1rem;
    font-weight: 500;
    outline: none;
    box-shadow: none;
    border-color: var(--primary);
}