
/* Term */
.term-wrapper, .notice-wrapper{
    width: 70%;
    margin: auto;
    padding-bottom: 2rem;
}

.term-title, .notice-title{
    font-weight: 700;
}

.term-body, .notice-body{
    margin-top: 1rem;
}

.term-body strong, .notice-body strong{
    color: var(--primary);
}