
/* Toolbox */
.toolbox-wrapper{
    width: 70%;
    margin: auto;
    padding-bottom: 2rem;
}

.toolbox-wrapper button{
    color: var(--primary);
    font-weight: 600;
}

.toolbox-wrapper button:not(.collapsed){
    background-color: rgba(var(--primary-rgb), .1);
    color: var(--secondary-text);
}
.accordion-button:not(.collapsed)::after{
    color: var(--primary);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e4002b'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}