{% extends 'credentials.html.twig' %}

{% block title %}PerfectMatch - {{ 'title.register'|trans }}{% endblock %}

{% set split = false %}

{% macro fileMacro(file) %}
    <li>
        <div class="d-flex align-items-center justify-content-start documents-widget mb-2">
            {{ form_widget(file) }}
            <i class="fas fa-ban remove-tag ms-2 text-danger pointer"></i>
            <br/>
            {{ form_errors(file) }}
        </div>
    </li>
{% endmacro fileMacro %}

{% import _self as formMacro %}

{% block form %}

    {{ form_start(form) }}
    {% if form.languages is defined %}
        {% do form.languages.setRendered() %}
    {% endif %}

    {% if form.Period is defined %}
        {% do form.Period.setRendered() %}
    {% endif %}

    {% if form.avatarFile is defined %}
        {{ form_row(form.link) }}

        {{ form_errors(form) }}
        {% do form.documents.setRendered() %}
        <ul id="documents-fields-list"
            class="p-0 m-0"
            data-prototype="{{ formMacro.fileMacro(form.documents.vars.prototype)|e }}"
            data-widget-tags="{{ '<li></li>'|e }}"
            data-widget-counter="{{ form.documents|length }}">
            <label class="form-label">{{ 'label.form.trainee.selectcv'|trans }}</label>

            {% if form.documents|length == 0 %}
                <li>
                    <div class="d-flex align-items-center justify-content-start documents-widget mb-2">
                        <div id="trainee_documents_0">
                            <div class="mb-3">
                                <input type="file"
                                       id="trainee_documents_0_file"
                                       name="trainee[documents][0][file]"
                                       accept="application/pdf" lang="en"
                                       class="form-control">
                            </div>
                        </div>
                        <i class="fas fa-ban remove-tag ms-2 text-danger pointer" aria-hidden="true"></i>
                        <br>
                    </div>
                </li>
            {% endif %}

            {% for document in form.documents %}
                {{ formMacro.fileMacro(document) }}
            {% endfor %}
        </ul>

        <p class="form-text mb-1 help-text">{{ 'label.form.trainee.document.help'|trans }}</p>
        <button type="button"
                class="add-another-collection"
                data-list-selector="#documents-fields-list">{{ 'label.form.trainee.adddocument'|trans }}
        </button>

        <div class="custom-file-input mb-2 logo-container">
            <h3 class="subtitle mb-3">{{ 'label.selectavatar'|trans }}</h3>
            <div>
                <label for="{{ form.avatarFile.vars["id"] }}">
                    {% if form.vars["value"].avatarfilename != "" %}
                        <img src="/trainee/avatar/{{ form.vars["value"].avatarfilename }}" alt="logo">
                    {% endif %}
                </label>
                {{ form_widget(form.avatarFile) }}
                {{ form_errors(form.avatarFile) }}
            </div>
        </div>
    {% endif %}


    {% if form.Period is defined %}
        <div class="d-flex">
            {{ form_label(form.Period) }}
            {{ form_errors(form.Period) }}
            <i class="fas fa-plus text-success" id="add-period"></i>
        </div>
        <p class="form-text mb-0 help-text">{{ 'help.required'|trans }}</p>
        <ul class="period-list mb-3"
            data-prototype='<div class="row mb-3 {{ form.Period.vars["prototype"].vars["id"] }} period-container"> <div class="col-sm-6"> <input id="{{ form.Period.vars["prototype"].children["start"].vars["id"] }}" name="{{ form.Period.vars["prototype"].children["start"].vars["full_name"] }}" class="form-control start-date" readonly="" placeholder="{{ 'label.form.period.start'|trans }}"> </div> <div class="col-sm-6 d-flex align-items-center"> <input id="{{ form.Period.vars["prototype"].children["End"].vars["id"] }}" name="{{ form.Period.vars["prototype"].children["End"].vars["full_name"] }}" class="form-control end-date" readonly="" placeholder="{{ 'label.form.period.end'|trans }}"> <i class="fas fa-ban remove-period"></i> </div> </div>'
            data-widget-tags="{{ '<li></li>'|e }}" data-widget-counter="{{ form.Period|length }}">
            <li>
                <div class="row mb-3 {{ form.Period.vars["prototype"].vars["id"]|replace({'__name__': "0"}) }} period-container">
                    <div class="col-sm-6">
                        <input id="{{ form.Period.vars["prototype"].children["start"].vars["id"]|replace({'__name__': "0"}) }}"
                               name="{{ form.Period.vars["prototype"].children["start"].vars["full_name"]|replace({'__name__': "0"}) }}"
                               class="form-control start-date" readonly=""
                               placeholder="{{ 'label.form.period.start'|trans }}"
                        >
                    </div>
                    <div class="col-sm-6 d-flex align-items-center">
                        <input id="{{ form.Period.vars["prototype"].children["End"].vars["id"]|replace({'__name__': "0"}) }}"
                               name="{{ form.Period.vars["prototype"].children["End"].vars["full_name"]|replace({'__name__': "0"}) }}"
                               class="form-control end-date" readonly=""
                               placeholder="{{ 'label.form.period.end'|trans }}"
                        >
                        <i class="fas fa-ban remove-period"></i>
                    </div>
                </div>
            </li>
        </ul>

    {% endif %}

    {% if form.password is defined %}
        {{ form_row(form.email) }}

        <div class="mb-3">
            {{ form_label(form.password.first) }}
            <div class="passwordGroup">
                {{ form_widget(form.password.first) }}
                <i class="fas fa-eye viewPassword" target="inputPassword1"></i>
                <i class="fas fa-eye-slash hidden hidePassword" clas="" target="inputPassword1"></i>
            </div>
            {{ form_help(form.password.first) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.password.second) }}
            <div class="passwordGroup">
                {{ form_widget(form.password.second) }}
                <i class="fas fa-eye viewPassword" target="inputPassword2"></i>
                <i class="fas fa-eye-slash hidden hidePassword" target="inputPassword2"></i>
            </div>
            {{ form_help(form.password.second) }}
        </div>
    {% endif %}

    {{ form_rest(form) }}

    {% if form.languages is defined %}
        <div class="mb-3">
        {{ form_label(form.languages) }}
        {{ form_errors(form.languages) }}
        <select name="{{ form.languages.vars["full_name"] }}" id="{{ form.languages.vars["id"] }}"
                class="select2-single form-select select2-multiple" multiple tabindex="-1" aria-hidden="true">

            {% for lang in form.languages.vars.choices %}
                {% if loop.index0 == 0 %}
                <optgroup label="{{ lang.label|replace({' - A1': ""}) }}">
                    <option value="{{ lang.value }}">{{ lang.label }}</option>

                {% elseif loop.index0 % 6 == 0 %}
                    </optgroup>
                    <optgroup label="{{ lang.label|replace({' - A1': ""}) }}">
                    <option value="{{ lang.value }}">{{ lang.label }}</option>
                {% else %}
                    <option value="{{ lang.value }}">{{ lang.label }}</option>
                {% endif %}
                </optgroup>
            {% endfor %}
            </optgroup>
        </select>
        </div>{% endif %}{% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
    craue_formflow_button_class_back: 'mt-3 mb-3',
    craue_formflow_button_class_reset: 'd-none',
    craue_formflow_button_label_finish: 'label.finish'|trans,
    craue_formflow_button_label_back: 'label.back'|trans,
    craue_formflow_button_label_next: 'label.next'|trans,
    craue_formflow_button_label_reset: 'label.reset'|trans,
} %}{{ form_end(form) }}{% endblock %}
