/* loginWrapper */

.loginWrapper{
  min-height: 100vh;
}

.loginWrapper,
.imgWrapper {
  margin: 0;
  padding: 0;

  font-family: "Inter", sans-serif;
}

.loginWrapper .imgWrapper {
  /*background-image: url("https://lavoriamo.cfpzanardelli.it/wp-content/uploads/2021/04/pexels-tatiana-fet-1105766-1-scaled.jpg");*/
  /*width: 100%;*/
  /*overflow: hidden;*/
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  position: relative;
}

.loginWrapper .imgWrapper > div {
  height: 100%;
  width: 100%;
  background-color: var(--primary);
  opacity: 0.2;
  position: absolute;
}

.loginWrapper .imgWrapper img{
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.loginWrapper .formWrapper {
  padding: 5rem;
}

.loginWrapper .formWrapper .reduce {
  width: 30%;
  margin-left: calc(50% - 15%);
  margin-bottom: 3rem;
}

.loginWrapper .formWrapper .form-action a {
  color: #000;
  font-size: 16px;
  text-decoration: none;
}

.loginWrapper .formWrapper .form-action a.active {
  color: var(--primary);
}

.loginWrapper .formWrapper h1 {
  font-size: 40px;
  color: var(--primary);
  font-weight: 800;
  margin-bottom: 2rem;
}

.loginWrapper .formWrapper input {
  outline: none;
  box-shadow: none;
  margin-bottom: 1rem;
}

.loginWrapper .formWrapper input:focus {
  border-color: var(--primary);
}

.loginWrapper .formWrapper button {
  font-size: 16px;
  font-weight: 800;
  width: 100%;
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: var(--secondary);
  transition: all 0.3s ease;
}

.loginWrapper .formWrapper button:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

.loginWrapper .login-infos {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.loginWrapper .login-infos a {
  font-size: 40px;
  color: var(--primary);
  font-weight: 800;
  text-decoration: none;
}
.loginWrapper .login-infos p {
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .loginWrapper .formWrapper {
    padding: 2rem;
  }
}

.select2-results__group{
  font-size: 1rem;
  color: var(--primary)!important;
  font-weight: 700!important;
}

.period-list{
  padding: 0;
  margin: 0;
}

.period-list li{
  list-style-type: none;
}

.start-date, .end-date{
  margin: auto;
  width: 140px;
}

.remove-period{
  margin-bottom: 1rem;
  color: var(--primary);
}

.documents-widget div{
  margin-bottom: 0!important;
}
