{{ form_start(form) }}
{% do form.startPeriod.setRendered() %}
{% do form.endPeriod.setRendered() %}

{{ form_row(form.title) }}
{{ form_row(form.workingTime) }}
{{ form_row(form.location) }}
{{ form_row(form.vacancies) }}
{{ form_row(form.description) }}

<div>
    <label>{{ 'label.form.internship.period'|trans() }}</label>
    {{ form_errors(form.startPeriod) }}
    {{ form_errors(form.endPeriod) }}
</div>
<div class="row date-range mt-2">
    <div class="col-sm-6">
        <input {% if form.startPeriod.vars["value"] != "" %} value="{{ form.startPeriod.vars["value"]|date("Y/m/d") }}" {% endif %}
                id="{{ form.startPeriod.vars["id"] }}" name="{{ form.startPeriod.vars["full_name"] }}"
                class="form-control start-date" readonly="">
    </div>
    <div class="col-sm-6 d-flex align-items-center">
        <input {% if form.endPeriod.vars["value"] != "" %} value="{{ form.endPeriod.vars["value"]|date("Y/m/d") }}" {% endif %}
                id="{{ form.endPeriod.vars["id"] }}" name="{{ form.endPeriod.vars["full_name"] }}"
                class="form-control end-date" readonly="">
    </div>
</div>
<p class="form-text mb-0 help-text mb-3">{{ 'help.required'|trans }}</p>


{{ form_row(form.searchProfil) }}
{{ form_row(form.prerequisite) }}
{{ form_row(form.another) }}

{% if form.vars["value"].filename is not null %}
    <div class="document-exist mb-2">
        <i class="fas fa-window-close remove-tag-single " data-delete="{{ form.deleteFile.vars["id"] }}"></i>
        <p class="form-text m-0">{{ form.vars["value"].filename }}</p>
    </div>
{% endif %}

{{ form_row(form.file) }}
{{ form_row(form.active) }}


<button class="btn mb-3">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
