{% extends "utils/crud/_template.html.twig" %}

{% set EntityName = 'title.edit'|trans %}

{% block nav %}
    {% include "compagny_internship/_crud_nav.html.twig" %}
{% endblock %}

{% block template_content %}
    <div id="settings-mylist" class="settings-dynamic row crud-list">
        <div class="row crud-list-title">
            <h3>{{ 'title.edit'|trans }}
                {{ form.children["title"].vars["value"] }}</h3>
        </div>

        {{ include('compagny_internship/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}