{% extends "utils/crud/_template.html.twig" %}

{% set EntityName = 'title.internship'|trans %}

{% block nav %}
    {% include "compagny_internship/_crud_nav.html.twig" %}
{% endblock %}

{% block template_content %}
    <div id="settings-mylist" class="settings-dynamic row crud-list pb-3">
        <div class="row crud-list-title mb-3">
            <h3>
                {{ internship.title }}</h3>
        </div>

        <div class="show-list">
            <div class="show-item">
                <span>{{ 'label.workingtime'|trans }}</span>
                <p>{{ internship.workingTime }}</p>
            </div>

            <div class="show-item">
                <span>{{ 'label.location'|trans }}</span>
                <p>{{ internship.location }}</p>
            </div>

            <div class="show-item">
                <span>{{ 'label.vacancies'|trans }}</span>
                <p>{{ internship.vacancies }}</p>
            </div>

            <div class="show-item">
                <span>{{ 'label.description'|trans }}</span>
                <p>{{ internship.description }}</p>
            </div>

            <div class="show-item">
                <span>{{ 'label.searchprofil'|trans }}</span>
                <p>{{ internship.searchProfil }}</p>
            </div>

            <div class="show-item">
                <span>{{ 'label.startperiod'|trans }}</span>
                <p>{{ internship.startPeriod|date('Y-m-d') }}</p>
            </div>

            <div class="show-item">
                <span>{{ 'label.endperiod'|trans }}</span>
                <p>{{ internship.endPeriod|date('Y-m-d') }}</p>
            </div>

            <div class="show-item">
                <span>{{ 'label.prerequiste'|trans }}</span>
                <p>{{ internship.prerequisite }}</p>
            </div>


            <div class="show-item">
                <span>{{ 'label.another'|trans }}</span>
                <p>{{ internship.another }}</p>
            </div>

            {% if internship.filename is defined and not null and internship.filename|length > 0 %}
                <div class="show-item fit-content">
                    <span>{{ 'label.internship.attachment'|trans }}</span>
                    <a href="{{ path('compagny_internhsip_download_document', {filename: internship.filename}) }}"
                       target="_blank" class="invert-button">{{ 'navigation.download'|trans }} - {{ internship.originalname }}</a>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}
