@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700;800&family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

html,
body {
  overflow-x: hidden;
  font-display: swap;
  min-height: 100vh;
}

body {
  font-family: "Montserrat", sans-serif;
  font-display: swap;
}

.d-none, .hidden {
  display: none!important;
}

.fit-content{
  width: fit-content;
}

.pointer{
  cursor: pointer;
}

.danger-text{
  color: var(--primary);
  font-weight: bold;
  font-size: 1rem!important;
}

.help-text{
  font-size: .6rem;
  font-weight: 800;
  color: var(--primary);
}

.one-ellipsis {
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.two-ellipsis {
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.three-ellipsis {
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.calert-success{
  font-size: 18px;
  color: var(--primary);
  font-weight: 700;
  padding: .5rem 2rem;
  border: 1px solid rgb(226 232 240);
  background-color: var(--secondary);
  border-radius: 10px;
  margin-top: 1rem;
}

.hover-scale{
  transition: all .1s linear;
}

.hover-scale:hover{
  transform: scale(1.01);
}

.agreeTerm, .agreeTerm:hover{
  font-weight: 800;
  color: var(--primary);
  text-decoration: none;
}

input, textarea{
  margin-bottom: 0!important;
}

.custom-modal {
  margin-left: 0 !important;
  z-index: 9999999 !important;
}

.custom-modal .modal-title {
  color: var(--primary);
  font-size: 18px;
  font-weight: 700;
}

.cbutton {
  border: 1px solid rgb(226 232 240);
  color: var(--primary);
  background-color: var(--secondary);
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 0.55rem 1rem;
  text-decoration: none;
}

.invert-button {
  border: 1px solid rgb(226 232 240)!important;
  color: var(--primary);
  background-color: var(--secondary);
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 0.55rem 1rem;
  text-decoration: none;
}

.invert-button:hover {
  color: var(--primary);
}

.custom-modal .modal-body {
  color: var(--secondary-text);
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}

.custom-modal .modal-footer button {
  outline: none;
  border: none;
  font-size: 14px;
  background-color: #fff;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.custom-modal .modal-footer .cancel-button {
  border: 1px solid var(--primary);
  color: var(--primary);
}
.custom-modal .modal-footer .danger-button {
  background-color: var(--primary);
  color: var(--secondary);
}

.custom-modal .modal-footer .btn-close {
  display: none;
}

.select2-container {
  width: 100% !important;
}

.select2-container li {
  word-break: break-all !important;
}

/*  Image preview */
.custom-file-input label{
  background-color: rgba(var(--primary-rgb), .1);
  width: 100%;
  height: 100px;
}

.custom-file-input{
  padding: 0;
  position: relative;
}

.custom-file-input label img{
  width: 100%!important;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.custom-file-input li{
  position: relative;
}
.custom-file-input .remove-tag{
  position: absolute;
  top: -5px;
  left: -5px;
  font-size: 20px;
  cursor: pointer;
  color: red;
}

.logo-container img{
  object-fit: contain!important;
  object-position: center;
}

.subtitle{
  font-size: 14px;
  color: #475569;
  font-weight: 600;
  opacity: .8;
}

.sc-2{
  transform: scale(.8);
}

.passwordGroup{
  position: relative;
}

.passwordGroup i{
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: calc(50% - 10px);
  cursor: pointer;
}