:root {
  --primary: #e4002b;
  --primary-rgb: 228, 0, 43;
  --secondary: #fff;
  --body-content: rgb(241 245 249);
  --grey-rgb: 148, 163, 184;
  --secondary-text: #475569;
  --dark: #495057;
}
