{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('account') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('account') }}
{% endblock %}

{% block body %}

    <div class="container-fluid movable">

        <div class="sidebar">
            <div class="sidebar-logo">
                <a href="{{ path('admin') }}">
                    <i class="animate fas fa-arrow-left navbar-toogle"></i>
                </a>
                <a href="{{ path('app_home') }} ">
                    <img src="{{ asset('images/pf.png') }}" alt="Logo">
                </a>
            </div>

            <ul>

                <li>
                    <a href="{{ path('account') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path class="pf"
                                  d="M11.5 280.6l192 160c20.6 17.2 52.5 2.8 52.5-24.6V96c0-27.4-31.9-41.8-52.5-24.6l-192 160c-15.3 12.8-15.3 36.4 0 49.2zm256 0l192 160c20.6 17.2 52.5 2.8 52.5-24.6V96c0-27.4-31.9-41.8-52.5-24.6l-192 160c-15.3 12.8-15.3 36.4 0 49.2z"/>
                        </svg>
                        <span class="text-sm me ml-3 jo jh 2xl:opacity--100 gj">{{ 'navigation.backToAccount'|trans }}</span>
                    </a>
                </li>

                <li>
                    <a href="{{ path('admin') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                            <!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) -->
                            <path class="pf"
                                  d="M336 64h-80c0-35.3-28.7-64-64-64s-64 28.7-64 64H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM192 40c13.3 0 24 10.7 24 24s-10.7 24-24 24-24-10.7-24-24 10.7-24 24-24zm121.2 231.8l-143 141.8c-4.7 4.7-12.3 4.6-17-.1l-82.6-83.3c-4.7-4.7-4.6-12.3.1-17L99.1 285c4.7-4.7 12.3-4.6 17 .1l46 46.4 106-105.2c4.7-4.7 12.3-4.6 17 .1l28.2 28.4c4.7 4.8 4.6 12.3-.1 17z"/>
                        </svg>
                        <span class="text-sm me ml-3 jo jh 2xl:opacity--100 gj">{{ 'navigation.dashboard'|trans }}</span>
                    </a>
                </li>

                <li>
                    <a href="{{ path('admin_validation') }}">
                        <svg class="a_ ow ug" viewbox="0 0 24 24">
                            <path class="pf ml" :class="page === 'dashboard' &amp;&amp; '!text-indigo-500'"
                                  d="M12 0C5.383 0 0 5.383 0 12s5.383 12 12 12 12-5.383 12-12S18.617 0 12 0z"></path>
                            <path class="pf ma" :class="page === 'dashboard' &amp;&amp; 'text-indigo-600'"
                                  d="M12 3c-4.963 0-9 4.037-9 9s4.037 9 9 9 9-4.037 9-9-4.037-9-9-9z"></path>
                            <path class="pf ml" :class="page === 'dashboard' &amp;&amp; 'text-indigo-200'"
                                  d="M12 15c-1.654 0-3-1.346-3-3 0-.462.113-.894.3-1.285L6 6l4.714 3.301A2.973 2.973 0 0112 9c1.654 0 3 1.346 3 3s-1.346 3-3 3z"></path>
                        </svg>
                        <span class="text-sm me ml-3 jo jh 2xl:opacity--100 gj">{{ 'navigation.validation'|trans }}</span>
                    </a>
                </li>

                <li>
                    <a href="{{ path('admin_reporting') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                            <path class="pf" d="M64 496C64 504.8 56.75 512 48 512h-32C7.25 512 0 504.8 0 496V32c0-17.75 14.25-32 32-32s32 14.25 32 32V496zM476.3 0c-6.365 0-13.01 1.35-19.34 4.233c-45.69 20.86-79.56 27.94-107.8 27.94c-59.96 0-94.81-31.86-163.9-31.87C160.9 .3055 131.6 4.867 96 15.75v350.5c32-9.984 59.87-14.1 84.85-14.1c73.63 0 124.9 31.78 198.6 31.78c31.91 0 68.02-5.971 111.1-23.09C504.1 355.9 512 344.4 512 332.1V30.73C512 11.1 495.3 0 476.3 0z"/>
                        </svg>
                        <span class="text-sm me ml-3 jo jh 2xl:opacity--100 gj">{{ 'navigation.reporting'|trans }}</span>
                    </a>
                </li>

                <li>
                    <a href="{{ path('admin_settings') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) -->
                            <path class="pf"
                                  d="M487.4 315.7l-42.6-24.6c4.3-23.2 4.3-47 0-70.2l42.6-24.6c4.9-2.8 7.1-8.6 5.5-14-11.1-35.6-30-67.8-54.7-94.6-3.8-4.1-10-5.1-14.8-2.3L380.8 110c-17.9-15.4-38.5-27.3-60.8-35.1V25.8c0-5.6-3.9-10.5-9.4-11.7-36.7-8.2-74.3-7.8-109.2 0-5.5 1.2-9.4 6.1-9.4 11.7V75c-22.2 7.9-42.8 19.8-60.8 35.1L88.7 85.5c-4.9-2.8-11-1.9-14.8 2.3-24.7 26.7-43.6 58.9-54.7 94.6-1.7 5.4.6 11.2 5.5 14L67.3 221c-4.3 23.2-4.3 47 0 70.2l-42.6 24.6c-4.9 2.8-7.1 8.6-5.5 14 11.1 35.6 30 67.8 54.7 94.6 3.8 4.1 10 5.1 14.8 2.3l42.6-24.6c17.9 15.4 38.5 27.3 60.8 35.1v49.2c0 5.6 3.9 10.5 9.4 11.7 36.7 8.2 74.3 7.8 109.2 0 5.5-1.2 9.4-6.1 9.4-11.7v-49.2c22.2-7.9 42.8-19.8 60.8-35.1l42.6 24.6c4.9 2.8 11 1.9 14.8-2.3 24.7-26.7 43.6-58.9 54.7-94.6 1.5-5.5-.7-11.3-5.6-14.1zM256 336c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z"/>
                        </svg>
                        <span class="text-sm me ml-3 jo jh 2xl:opacity--100 gj">{{ 'navigation.settings'|trans }}</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="content">
            <div class="row navbar">
                <div class="col-6">
                    <i class="fas fa-bars navbar-toogle"></i>
                </div>
                <div class="col-6">
                    <a href="{{ path('app_logout') }}">
                        {{ 'navigation.logout'|trans }}
                        ( {{ app.user.name }} ) 
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </div>
            </div>
            <div class="content-body">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
