{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/craueformflow/css/buttons.css') }}"/>
    {{ encore_entry_link_tags('credentials') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('credentials') }}
{% endblock %}

{% block body %}
<div class="loginWrapper container-fluid row m-0">
    <div class="imgWrapper col-md-5">
        <div></div>
        <img src="{{ asset('/images/bck.webp') }}" class="img-fluid" alt="european background">
    </div>
    <div class="row formWrapper col-md-7 m-0">

        {% if split %}
        <div class="col-sm-6 mb-5 d-flex justify-content-center">
            <div class="d-flex justify-content-center align-items-center">
                <a href="{{ path('app_home') }}"><img src="{{ asset('images/pf.png') }}" alt="logo"></a>
            </div>
        </div>
        <div class="col-sm-6">
            {% else %}
            <div>
                <a href="{{ path('app_home') }}"><img class="reduce" src="{{ asset('images/pf.png') }}" alt="logo"></a>
                <br/>

                {% endif %}
                {% if  app.request.get('_route') != "app_login"%}
                    <div class="form-action mb-5">
                        <a href="{{ path('app_home') }}" class="active">{{ 'register.goback'|trans }}</a>
                        |
                        <a href="{{ path('app_login') }}" class="active">{{ 'register.alreadyhaveaccount'|trans }}</a>
                    </div>
                {% else %}
                    <div class="form-action mb-1">
                        <a href="{{ path('app_home') }}" class="active">{{ 'register.goback'|trans }}</a>
                    </div>
                {% endif %}
                {% block form %}{% endblock %}
            </div>


            {# <div class="row login-infos mt-5 mx-0">
					<a class="mb-5" href="">LavoriAmo - Easy online</a>

					<p>
						<strong>JOB SPEED DATE 04 NOVEMBER 2021</strong>
						Web platform for job interviews
					</p>

					<p>
						<strong>Meet</strong>
						companies,
						<strong>apply</strong>
						for job offers,
						<strong>participate</strong>
						in company and orientation workshops!
					</p>
				</div> #}
        </div>
    </div>
</div>
{% endblock %}
