<footer class="mt-5 w-100">

	<div class="row">
		<div class="col-lg footer-infos">
			<h3 class="mb-4">
				<span>PERFECTMATCH
					{{ 'jobs.heading'|trans }}</span><br/>
			</h3>
			<ul>
				<li>
					<a>{{ data.contactPhone|phone_number_format('INTERNATIONAL') }}</a>
				</li>
				<li>
					<a>{{ data.contactMail }}</a>
				</li>
				<li>
					<a>{{ data.address }},
						{{ data.postalcode }}
						{{ data.city }}
						|
						{{ data.country }}</a>
				</li>
			</li>
		</ul>
	</div>
	<div class="col-lg footer-disclaimer">
		<div>
			<strong>« PERFECT MATCH - Connecting VET Providers, Trainees & Companies for Innovative Transnational Work-based Learning Opportunities » - 2020-1-FR01-KA226-VET-095013</strong>
			<br/>
			<br/>
			has been financed with the support of the European Commission. The European Commission support for the production of this publication does not constitute an endorsement of the contents which reflects the views only of the authors, and the Commission cannot be held responsible for any use which may be made of the information contained therein.
			<br/>
			<br/>
			<strong>May 2021</strong>
		</div>
	</div>
	<div class="col-lg footer-nav">
		<ul>
			<li class="me-2">
				<a href="{{ path('app_home') }}">
					{{ 'navigation.home'|trans }}
					<i class="fas fa-caret-left" style="color: #e4002b;" aria-hidden="true"></i>
				</a>
			</li>
			<li class="me-2">
				<a href="{{ path('account') }}">
					{{ 'navigation.personal'|trans }}
					<i class="fas fa-caret-left" style="color: #e4002b;" aria-hidden="true"></i>
				</a>
			</li>
			<li class="me-2">
				<a href="{{ path('app_home_term') }}">
					{{ 'navigation.term'|trans }}
					<i class="fas fa-caret-left" style="color: #e4002b;" aria-hidden="true"></i>
				</a>
			</li>
			<li class="me-2">
				<a href="{{ path('app_home_notice') }}">
					{{ 'navigation.notice'|trans }}
					<i class="fas fa-caret-left" style="color: #e4002b;" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</div>
</div>

<div class="row footer-img">
	<img class="img-fluid banner" src="{{ asset('images/banner.png') }}" alt="Logo img"/>
	<br/>
</div>

<div class="footer-bottom">
	<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
		Copyright ©2023
		        Ce site web et son contenu sont mis à disposition selon les termes de la licence
		<strong>cc-by-nc-sa 4.0</strong>.
	</a>
</div></footer>
