<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}PerfectMatch{% endblock %}
    </title>


</head>
<body>
<h1>Empty</h1>
</body>
</html>
