
{% extends 'base.html.twig' %}

{% block title %}{{ 'title.error'|trans }} - PerfectMatch{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('main') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('main') }}
{% endblock %}

{% block body %}

    <div class="error-wrapper">
        <div class="box">
            <div class="box__ghost">
                <div class="symbol"></div>
                <div class="symbol"></div>
                <div class="symbol"></div>
                <div class="symbol"></div>
                <div class="symbol"></div>
                <div class="symbol"></div>

                <div class="box__ghost-container">
                    <div class="box__ghost-eyes">
                        <div class="box__eye-left"></div>
                        <div class="box__eye-right"></div>
                    </div>
                    <div class="box__ghost-bottom">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div class="box__ghost-shadow"></div>
            </div>

            <div class="box__description">
                <div class="box__description-container">
                    <div class="box__description-title">{{ 'error404.heading'|trans }}</div>
                    <div class="box__description-text">{{ 'error404.paragraph'|trans }}</div>
                </div>

                <a href="{{ path('app_home') }}" class="box__button">{{ 'error404.back'|trans }}</a>

            </div>

        </div>
    </div>

{% endblock %}