{% extends 'account.html.twig' %}

{% block title %}{{ 'title.dashboard'|trans }} - PerfectMatch
{% endblock %}

{% block content %}
    <div class="settings-wrapper row">
        <div class="col pt-3 settings-body crud-body">
            <div id="settings-myschoollist" class="settings-dynamic row crud-list">
                <div class="row crud-list-title">
                    <div class="col-6 d-flex align-items-center">
                        <h3>{{ 'trainee.heading'|trans }}</h3>
                    </div>

                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>{{ 'label.lastname'|trans }}</th>
                            <th>{{ 'label.firstname'|trans }}</th>
                            <th>{{ 'label.active'|trans }}</th>
                            <th>{{ 'label.actions'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for trainee in trainees %}

                            <tr>
                                <td>{{ trainee.firstname }}</td>
                                <td>{{ trainee.lastname }}</td>
                                <td>
                                    {% if trainee.active %}
                                        <i class="fas fa-check"></i>
                                    {% else %}
                                        <i class="fas fa-times"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <a class="fas fa-ellipsis-h" role="button" id="actionsDropDown"
                                           data-bs-toggle="dropdown" aria-expanded="false"></a>

                                        <ul class="dropdown-menu" aria-labelledby="actionsDropDown">
                                            <li>
                                                <a class="dropdown-item"
                                                   href="{{ path('school_validation_trainee', {'id': trainee.id, 'state': 'true'}) }}"
                                                   href="#">{{ 'navigation.validate'|trans }}</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item"
                                                   href="{{ path('school_validation_trainee', {'id': trainee.id, 'state': 'false'}) }}"
                                                   href="#">{{ 'navigation.disabled'|trans }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>
                                    <h3>{{ 'norecordsfound'|trans }}</h3>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
