<div class="row">
    <div class="nav">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="{{ path('app_home') }}">{{ 'navigation.home'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="{{ path('app_home_internship') }}">{{ 'navigation.internship'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="{{ path('app_search') }}">{{ 'navigation.partners'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="{{ path('app_home_toolbox') }}">{{ 'navigation.toolbox'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="{{ path('app_home_contact') }}">{{ 'navigation.contact'|trans }}</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
